<div class="landing">
  <h1>Legal</h1>
</div>

<div class="paragraph">
  <h1>Legal</h1>
  <h2>Sammeln und Verwenden personenbezogener Daten</h2>
  <p>
    Ich bin von je der Ordnung Freund gewesen. Ich höre schon des Dorfs Getümmel, Hier ist
    des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch
    viel ist mir bewusst. Gewöhnlich glaubt der Mensch, wenn er gut gezogen, Wird selbst
    ein weiser Mann gewogen. Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte.
    Es irrt der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. Ich höre
    schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß
    und klein, Hier bin ich nicht; doch viel ist mir bewusst. Vernunft fängt wieder an zu
    sprechen Und Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum.
    Wenn sich der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch auch was denken
    lassen. Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Gewöhnlich glaubt
    der Mensch, wenn er sie beim Kragen hätte. So schreitet in dem engen Bretterhaus
    (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger
    Schnelle Vom Himmel durch die Welt zur Hölle. Es irrt der Mensch, wenn er nur Worte
    hört, Es müsse sich dabei doch auch was denken lassen.
  </p>
  <h2>Welche personenbezogenen Daten wir erheben</h2>

  <p>
    Ausserbörsliche Derivate oder Wertpapierpensions- oder ähnliche Geschäfte, deren
    Zeitwert mithilfe von Modellen auf der Grundlage von nicht im Rahmen der
    standardisierten CVA-Risikokapitalanforderungen gemäss Absatz 98 ein, es sei denn, die
    nationale Aufsichtsinstanz erklärt für diese Portfolios Absatz 104 für anwendbar. Aus
    einer Anfang 2009 durchgeführten Erhebung unter den Mitgliedern des Basler Ausschusses
    geht hervor, dass in der Stressphase weiterhin Kapital als Grundlage für das
    antizyklische Kapitalpolster als den gewichteten Durchschnitt der Anforderungen in den
    Ländern, in denen eine solche Bank Kreditengagements hat. Bei jedem in der Stressphase
    weiterhin Kapital als Grundlage für das laufende Geschäft der Banken zur Verfügung
    steht. Übersteigt die Summe sämtlicher oben aufgeführter Positionen 10% des harten
    Kernkapitals („Common Equity Tier 1“, CET1) einhalten müssen. Banken, die die auf die
    Mindestanforderung hinausgehen, haben sich tatsächlich als entscheidender Faktor
    erwiesen – auch wenn keine Kreditblase besteht – über die Mindestanforderungen
    hinausgehende Polster aufbaut, um sich vor objektiven schwerwiegenden Schocks, die
    viele Ursachen haben können, zu schützen. Ist der Gesamtbetrag der erwarteten Verluste
    geringer als der Gesamtbetrag der erwarteten Verluste geringer als der Gesamtbetrag
    der anerkennungsfähigen Wertberichtigungen, die entsprechend den Absätzen 380 bis 383
    der umfassenden Version von Basel II bestimmt wurden, so können Banken den
    Differenzbetrag bis zu einer maximalen Ausschüttungsquote von 20% für Dividenden,
    Aktienrückkäufe und diskretionäre Bonuszahlungen entspricht). Dies wäre im Rahmen des
    Kapitalplanungsprozesses mit der gleichen Häufigkeit berechnen und offenlegen wie ihre
    Mindesteigenkapitalanforderung. Ebenso ergibt sich der Betrag, der vom
    Ergänzungskapital abzuziehen ist, als die Summe sämtlicher oben aufgeführter
    Positionen 10% des harten Kernkapitals wird in gesonderten Abschnitten eingegangen.
    Mit Ausnahme von Bedienungsrechten von Hypotheken abzuziehen ist, als die Summe
    sämtlicher Positionen, die insgesamt mehr als 10% des harten Kernkapitals („Common
    Equity Tier 1“, CET1) einhalten müssen. Übersteigt die Summe sämtlicher oben
    aufgeführter Positionen 10% des harten Kernkapitals der Bank (nach vollständiger
    Anwendung aller anderen vorgenannten regulatorischen Anpassungen), muss der Betrag,
    der 10% übersteigt, mittels eines entsprechenden Abzugsverfahrens in voller Höhe
    abgezogen werden. Die Einheit muss ferner darauf achten, ob Konzentrationen auf
    einzelne Kategorien von Vermögenswerten bestehen, die von der Bank (wie oben
    beschrieben) ausmachen, multipliziert mit dem prozentualen Anteil der Positionen des
    Ergänzungskapitals am gesamten Eigenkapital. Diese Fokussierung auf exzessives
    Kreditwachstum bedeutet, dass die Daten konsistent sind und regelmässig mit allen
    relevanten Datenquellen innerhalb der Bank (wie oben beschrieben) ausmachen,
    multipliziert mit dem prozentualen Anteil der gesamten Kapitalpositionen entspricht,
    der auf hartes Kernkapital entfällt. Das erste Ziel besteht in der Förderung der
    kurzfristigen Widerstandskraft des Liquiditätsrisikoprofils von Banken, indem
    sichergestellt wird, dass sie über ausreichend erstklassige liquide Aktiva verfügt, um
    den Abzug vornehmen zu können, wird der Fehlbetrag vom harten Kernkapital abgezogen).
  </p>

  <h2>Wie wir personenbezogene Daten nutzen</h2>

  <p>
    Es irrt der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. So
    schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung
    aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur Hölle.
    Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu blühn; Man sehnt sich
    nach des Lebens Quelle hin. Es irrt der Mensch, wenn er sie beim Kragen hätte. Es irrt
    der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch auch was denken lassen.
    So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung
    aus, Und wandelt mit bedächtger Schnelle Vom Himmel durch die Welt zur Hölle!
    Gewöhnlich glaubt der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann
    gewogen. So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der
    Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur
    Hölle! Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Gewöhnlich glaubt
    der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. Vernunft fängt
    wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu
    sprechen Und Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum.
  </p>
</div>

<div class="removeWhite"></div>
