<nav app-theme>
  <div class="toggleButton" (click)="toggleNavbar()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="richie" (click)="toggleNavbar()">DHBW Richie</div>

  <div class="navwrapper" [ngStyle]="navwrapperStyle">
    <div class="title" (click)="globals.toggleTheme()"></div>
    <div class="routes">
      <a routerLink="/home" routerLinkActive="active">
        <i class="fad fa-home"></i>
        <div class="name">Home</div>
      </a>
      <a routerLink="/add" routerLinkActive="active">
        <i class="fad fa-layer-plus"></i>
        <div class="name">Add</div>
        <div class="type">pro</div>
      </a>
      <a
        *ngIf="globals.user.isAdmin || globals.user.isReviewer"
        routerLink="/review"
        routerLinkActive="active"
      >
        <i class="fad fa-check-double"></i>
        <div class="name">Review</div>
      </a>
      <a routerLink="/search" routerLinkActive="active">
        <i class="fad fa-search"></i>
        <div class="name">Search</div>
      </a>
      <a routerLink="/telegram" routerLinkActive="active">
        <i class="fab fa-telegram-plane"></i>
        <div class="name">Telegram</div>
        <div class="type">neu</div>
      </a>
      <a *ngIf="globals.user.isAdmin" routerLink="/admin" routerLinkActive="active">
        <i class="fad fa-user-cog"></i>
        <div class="name">Administration</div>
      </a>
      <div class="divider"></div>
      <a routerLink>
        <i class="fad fa-comments-alt"></i>
        <div class="name">Lerngruppen</div>
        <div class="type">WIP</div>
      </a>
    </div>
    <div class="hotlinks">
      <a routerLink="/impressum">Impressum</a>
      <a routerLink="/legal">Legal</a>
      <a routerLink="/about">About</a>
    </div>
  </div>
</nav>

<header>
  <div *ngIf="globals.user.signed_in; then signedIn; else signedOut"></div>

  <ng-template #signedOut>
    <div class="registerLogin">
      <div class="signIn" [routerLink]="['/login']">
        Anmelden<i class="fad fa-sign-in"></i>
      </div>
    </div>
  </ng-template>

  <ng-template #signedIn>
    <div class="user" [routerLink]="['/settings']">
      <div class="name">{{ globals.user.givenName }} {{ globals.user.familyName }}</div>
      <img [src]="globals.user.icon" onerror="this.src = '../assets/img/richie.jpg'" />
    </div>
  </ng-template>
</header>

<div class="notificationWrapper">
  <div [ngStyle]="globals.notification.style" class="notification">
    <span *ngIf="globals.notification.type == '2'" class="suc">
      <i class="fad fa-check-circle"></i>
    </span>
    <span *ngIf="globals.notification.type == '0'" class="inf">
      <i class="fad fa-info-circle"></i>
    </span>
    <span *ngIf="globals.notification.type == '1'" class="err">
      <i class="fad fa-exclamation-circle"></i>
    </span>

    <span class="message">{{ globals.notification.message }}</span>
  </div>
</div>

<router-outlet></router-outlet>
