<div class="landing">
  <h1>Wissensdatenbank</h1>
  <h2>DHBW Richie</h2>
</div>

<div class="paragraph">
  <div class="thatsMe" title="Hi, das bin ich"></div>
  <h2>Richie Richwood</h2>

  <h3>Wer bin ich?</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eos facilis,
    eius labore similique aliquam commodi nulla, expedita dignissimos id nam
    voluptatibus? Nobis, ipsum cum? Mollitia sequi amet modi aspernatur!
  </p>
</div>

<div class="paragraph">
  <h2>Du hast Fragen zu einer Klausur?</h2>
  <a class="startChatting" [href]="globals.botURL"
    ><i class="fab fa-telegram-plane"></i>Stell sie mir</a
  >
</div>

<div class="paragraph">
  <h2>Go Pro, unterrichte Richie!</h2>
  <p>
    Du möchtest, eine neue Frage einreichen, die häufig gestellt wird und durch
    einen kurzen Text beantworten? Dann erstelle dir ganz einfach einen Account
    und unterstütze dadurch deine Kommilitonen der DHBW.
    <a [routerLink]="['/register']">Ich möchte ein Pro werden!</a>
  </p>
</div>

<div class="removeWhite"></div>
