<ng-container>
  <div #ref (click)="toggleSelection(); onClick($event)" style="cursor: pointer;">
    <ng-content></ng-content>
  </div>
</ng-container>
<ng-container *ngIf="ref.childNodes.length == 0">
  <div
    [tabindex]="tabindex"
    class="selectedItem"
    (click)="toggleSelection(); onClick($event)"
  >
    <span *ngIf="currentItem">{{ currentItem }}</span>
    <span *ngIf="!currentItem">
      <i class="ti ti-list listIcon"></i>{{ placeholder }}
    </span>
  </div>
</ng-container>

<div
  class="selectionWrapper"
  [ngClass]="selectionClass"
  [ngStyle]="selectionStyle"
  (clickOutside)="hideSelection()"
>
  <div class="selection" [attr.sTitle]="heading">
    <div
      *ngFor="let item of items; let i = index"
      class="item"
      (click)="selectionHasChanged(i)"
    >
      {{ item }}
    </div>
  </div>
</div>
