<div class="landing">
  <h1>Neue Frage mit Antwort erstellen</h1>
  <h2>Anderen Helfen</h2>
</div>

<div
  *ngIf="globals.user.signed_in; then addParagraph; else notSignedInParagraph"
></div>

<ng-template #notSignedInParagraph class="paragraph">
  <div class="paragraph">
    <h2>Nicht angemeldet!</h2>
    <p>
      Um neue Fragen und Antworten einreichen zu können musst du angemeldet
      sein.
    </p>
    <a [routerLink]="['/login']" class="iconButton">
      <i class="fa fa-sign-in-alt"></i>Anmelden
    </a>
  </div>
</ng-template>

<ng-template #addParagraph>
  <div class="paragraph">
    <h2>Formular</h2>

    <h3>Frage</h3>
    <textarea rows="5" placeholder="Moin Servus Moin"></textarea>

    <div class="splitter"></div>

    <h3>Antwort</h3>
    <textarea rows="5" placeholder="Moin Servus Moin"></textarea>

    <div class="splitter"></div>

    <div class="inputWrapper">
      <div class="input">
        <h3>Quelle</h3>
        <input type="text" placeholder="Moin Servus Moin" />
      </div>
      <div class="input">
        <h3>Vorlesung</h3>
        <input type="text" placeholder="Moin Servus Moin" />
      </div>
    </div>

    <div style="display: block; text-align: center; margin-top: 10px;">
      <div class="iconButton">
        <i class="fab fa-wpforms"></i>Frage & Antwort einreichen
      </div>
    </div>
  </div>
</ng-template>

<div class="removeWhite"></div>
