input,
textarea {
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--input-border);
  background: var(--paragraph);
  padding: 5px 10px;
  width: 100%;
  color: var(--font-color);
  transition: 0.2s ease;
  font-size: 1em;
  font-family: "SF Pro Display", sans-serif;

  &:focus,
  &:hover {
    background: var(--input-border);
  }
}

textarea {
  resize: none;
}
.input {
  display: inline-grid;
}

@media only screen and (min-width: 800px) {
  .inputWrapper {
    grid-template-columns: 3fr 1fr;
  }
  .selectionWrapper {
    margin-left: -50px;
    margin-top: -80px;
  }
}
@media only screen and (max-width: 799px) {
  .inputWrapper {
    grid-template-columns: 1fr;
  }
  .selectionWrapper {
    margin-top: -150px;
  }
}

.inputWrapper {
  display: grid;
  grid-gap: 20px;
  //margin-top: -20px;
}

.lecture {
  border: 1px solid var(--input-border);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  user-select: none;

  i {
    margin-right: 10px;
  }
}
