
<h3 style="text-align: center">Add</h3>

<div style="text-align: center">
<div class="questionInput" style="display: inline-block;">
  <input id="questionInput" placeholder="please enter question" [(ngModel)]="questionInput"
  style="height: 1cm;width: 5cm;">
</div>


<div class="answerInput" style="display: inline-block;">
  <input id="answerInput" placeholder="Please enter answer" [(ngModel)]="answerInput"
  style="height: 1cm;width: 5cm">
</div>
</div>

<div style="text-align: center">

<div class="lectureInput" style="display: inline-block">

    <select id="lectureInput" [(ngModel)]="lectureInput" >
      <option value="" disabled selected>please select lecture</option>
      <option>Programmieren</option>
      <option>Mathe</option>
    </select>

</div>

<div class="sourceInput" style="display:inline-block">
  <input id="sourceInput" placeholder="Please enter source" [(ngModel)]="sourceInput"
  style="height: 0.5cm" >
</div>

</div>


<div class="addButton" style="text-align: right">
  <button (click)="onAdd()">add</button>
</div>


