textarea {
  padding: 1ex;
  font-size: 1em;
  box-sizing: border-box;
  border-color: white;
  position: relative;
}
fieldset {
  border: 1px;
  box-sizing: border-box;
  border-color: lightsteelblue;
  position: relative;
}
#sourceInput {
  position: relative;
}
#lectureInput {
  position: relative;
}
