<div class="landing">
  <div class="name">Timo Scheuermann</div>
  <div class="mail">max.mustermann@mail.de</div>
</div>
<div class="paragraph" style="z-index: 9000;">
  <h1>Account</h1>
  <table>
    <tr>
      <td>Benutzername</td>
      <td>Timo Scheuermann</td>
    </tr>
    <tr>
      <td>E-Mail-Adresse</td>
      <td><input type="text" value="max.mustermann@mail.de" /></td>
    </tr>
  </table>

  <h1>Management</h1>
  <h3>Passwort ändern?</h3>

  <table>
    <tr>
      <td>Neues Passwort eingeben</td>
      <td><input type="password" /></td>
    </tr>

    <tr>
      <td>Neues Passwort wiederholen</td>
      <td><input type="password" /></td>
    </tr>

    <tr>
      <td>Altes Passwort eingeben</td>
      <td><input type="password" /></td>
    </tr>
  </table>
</div>
