.landing {
  color: #fff;
}
.landing * {
  padding-left: 90px;
  text-align: left;
}
.landing .name {
  font-size: 1.7em;
  font-weight: 600;
}
.landing .mail {
  font-size: 1.1em;
  font-weight: 600;
}
.landing .mail::before {
  content: "Deine E-Mail-Adresse lautet ";
}

.logout {
  display: inline-block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  color: #fff;
  font-weight: 500;
  border-radius: 40px;
  padding: 10px 25px !important;
  margin: 0 !important;
  margin-top: -45px !important;
  right: 90px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease;
}

@media only screen and (max-width: 1100px) {
  .landing * {
    padding-left: 0;
    text-align: center !important;
  }
  .logout {
    margin-top: 5px !important;
    right: calc(50% - 300px);
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 850px) {
  .logout {
    right: 50%;
    transform: translateX(50%);
  }
}

.logout:hover {
  filter: brightness(115%);
  border: 1px solid #fff;
}

.logout svg {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 10px !important;
}
