<div class="landing">
  <div class="name">{{ globals.user.givenName }} {{ globals.user.familyName }}</div>
  <div class="mail">{{ globals.user.email }}</div>
  <div class="logout" (click)="globals.logOut()">
    Ausloggen
    <i class="fad fa-sign-out"></i>
  </div>
</div>
<div class="paragraph come-in">
  <h1>Account</h1>

  <div class="informations">
    <div class="information">
      <h3>Informationen</h3>

      <table>
        <tr>
          <td>Vorname</td>
          <td>{{ globals.user.givenName }}</td>
        </tr>
        <tr>
          <td>Nachname</td>
          <td>{{ globals.user.familyName }}</td>
        </tr>
        <tr>
          <td>Mitglied seit</td>
          <td>{{ globals.user.created | date: 'dd.MM.yyyy' }}</td>
        </tr>
        <tr>
          <td>Rang</td>
          <td>
            <span *ngIf="globals.user.isAdmin">Admin</span>
            <span *ngIf="!globals.user.isAdmin && globals.user.isReviewer">Reviewer</span>
            <span *ngIf="!globals.user.isAdmin && !globals.user.isReviewer"
              ><div class="gradient">Pro</div></span
            >
          </td>
        </tr>
        <tr>
          <td>Username</td>
          <td>
            <div class="specialInput" style="margin-right: 20px">
              <input type="text" tabindex="1" required />
              <label>Benutzername</label>
            </div>
            <div class="iconButton" style="display: inline-block;" tabindex="2">
              <i class="fad fa-save"></i>Speichern
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="information signedInWith">
      <h3>Angemeldet mittels</h3>
      <div class="loginService">
        <i class="fab fa-apple"></i>
        <div class="serviceName">Apple</div>
      </div>
      <div class="email">{{ globals.user.email }}</div>
    </div>
  </div>
</div>

<div class="paragraph come-in" delay="0.2">
  <h3 class="toggleTable" (click)="toggleQuestionWrapper(0)">
    Fragen die mir gefallen
    <span style="color: #08f; margin-left: 5px">{{ likedQuestions.length }}</span>
    <i class="fas fa-chevron-right" [ngStyle]="iconStyle[0]"></i>
  </h3>
  <div class="tablewrapper" [ngStyle]="questionWrapper[0]">
    <table>
      <tr
        *ngFor="let question of likedQuestions; let i = index"
        [routerLink]="['/question', question.id]"
      >
        <td (click)="removeLikedQuestion(i, $event)"><i class="fal fa-times"></i></td>
        <td>{{ question.question }}</td>
        <td>{{ question.answer }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="paragraph come-in" delay="0.4">
  <h3 class="toggleTable" (click)="toggleQuestionWrapper(1)">
    Fragen die ich nicht mag
    <span style="color: #08f; margin-left: 5px">{{ dislikedQuestions.length }}</span>
    <i class="fas fa-chevron-right" [ngStyle]="iconStyle[1]"></i>
  </h3>
  <div class="tablewrapper" [ngStyle]="questionWrapper[1]">
    <table>
      <tr
        *ngFor="let question of dislikedQuestions; let i = index"
        [routerLink]="['/question', question.id]"
      >
        <td (click)="removeDislikedQuestion(i, $event)"><i class="fal fa-times"></i></td>
        <td>{{ question.question }}</td>
        <td>{{ question.answer }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="removeWhite"></div>
