<div class="landing">
  <div class="name">{{ globals.user.name }}</div>
  <div class="mail">{{ globals.user.email }}</div>
  <div class="logout" (click)="globals.logOut()">
    Ausloggen
    <i class="fas fa-sign-out-alt"></i>
  </div>
</div>
<div class="paragraph" style="z-index: 9000;">
  <h1>Account</h1>
  <h3>Informationen</h3>
  <form
    [formGroup]="updateEmailForm"
    (ngSubmit)="submitEmailChange(updateEmailForm.value)"
  >
    <div>
      <label>
        Benutzername
      </label>
      <label>{{ globals.user.name }}</label>
    </div>
    <div>
      <label>
        Account erstellt am
      </label>
      <label>{{ globals.user.created | date: "dd.MM.yyyy" }}</label>
    </div>
    <div>
      <label>
        Rang
      </label>
      <label>{{ globals.user.group }}</label>
    </div>

    <div>
      <label for="newMail">
        E-Mail-Adresse
      </label>
      <input
        required
        id="newMail"
        [placeholder]="globals.user.email"
        type="mail"
        formControlName="newMail"
      />
    </div>

    <button type="submit">Speichern</button>
  </form>
</div>

<div class="paragraph">
  <h1>Management</h1>
  <h3>Passwort ändern?</h3>

  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="submitPWChange(changePasswordForm.value)"
  >
    <div>
      <label for="newPW">
        Neues Passwort eingeben
      </label>
      <input required id="newPW" type="password" formControlName="newPW" />
    </div>

    <div>
      <label for="newPWr">
        Neues Passwort wiederholen
      </label>
      <input required id="newPWr" type="password" formControlName="newPWr" />
    </div>

    <div>
      <label for="oldPW">
        Altes Passwort eingeben
      </label>
      <input required id="oldPW" type="password" formControlName="oldPW" />
    </div>
    <button type="submit">Speichern</button>
  </form>
</div>

<div class="removeWhite"></div>
