.landing {
  color: #fff;
}
.landing * {
  padding-left: 90px;
  text-align: left;
}
.landing .name {
  font-size: 1.7em;
  font-weight: 600;
}
.landing .mail {
  font-size: 1.1em;
  font-weight: 600;
}
.landing .mail::before {
  content: "Deine E-Mail-Adresse lautet ";
}
