<div class="landing">
  <h1>Impressum</h1>
</div>

<div class="paragraph">
  <h1>DHBW Richie</h1>

  <h2>Impressum</h2>
  <p><b>Angaben gemäß § 5 TMG</b></p>
  <p>Max Mustermann</p>
  <p>Spaßstrasse 1</p>
  <p>68259 Mannheim</p>

  <h3>Kontakt</h3>
  <p>Telefon: +49 X XXX XX XX XX XX</p>
  <p>E-Mail: contact@dhbw-richie.de</p>

  <h3>Haftung für Inhalte</h3>
  <p>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
    diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10
    TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte
    oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
    forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
  </p>
  <p>
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
    nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche
    Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
  </p>

  <h3>Haftung für Links</h3>
  <p>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte
    wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
    keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
    Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
    überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
    erkennbar.
  </p>
  <p>
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
    konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
    Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
    entfernen.
  </p>
  <h3>Urheberrecht</h3>

  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
    unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
    Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
    Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
    bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
    privaten, nicht kommerziellen Gebrauch gestattet.
  </p>
  <p>
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
    werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
    Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
    entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
    derartige Inhalte umgehend entfernen.
  </p>

  <p>
    Quelle:
    <a href="https://www.e-recht24.de/impressum-generator.html"
      >https://www.e-recht24.de/impressum-generator.html</a
    >
  </p>

  <h2>Datenschutzerklärung</h2>

  <p>
    Die Nutzung unserer Seite ist ohne eine Angabe von personenbezogenen Daten
    möglich. Daten sind dann personenbezogen, wenn sie eindeutig einer
    bestimmten natürlichen Person zugeordnet werden können. Die rechtlichen
    Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG)
    und dem Telemediengesetz (TMG).
  </p>

  <h2>KEINE ABMAHNUNG OHNE KONTAKT</h2>
  <p>
    Sollte der Inhalt fremde Rechte Dritter oder gesetzliche Bestimmungen
    verletzen, informieren Sie mich ohne Kostennote. Ich garantiere, dass die zu
    Recht beanstandeten Passagen unverzüglich entfernt werden, ohne dass von
    Ihrer Seite die Einschaltung eines Rechtsbeistandes erforderlich ist.
    Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgelöste Kosten werden im
    Sinne der Schadensminderungspflicht zurückgewiesen und gegebenenfalls wird
    Gegenklage wegen Verletzung vorgenannter Bestimmungen eingereicht.
  </p>
</div>

<div class="removeWhite"></div>
