.comment {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--input-border);
  }

  .answerWrapper {
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 10px;
  }

  .message {
    padding: 0px 10px;
    margin-left: 5px;
    border-left: 1px solid var(--input-border);
    white-space: pre-line;
    .comment {
      padding-bottom: 0px;
    }
    .deleted {
      opacity: 0.8;
      font-size: 0.85em;
      font-style: italic;
      &::before {
        content: 'Dieser Kommentar wurde gelöscht!';
      }
    }
    .writeComment {
      margin-top: 15px;
    }
    .reply {
      margin-top: 10px;
      font-size: 0.8em;
      opacity: 0.75;
      transition: 0.2s ease;
      cursor: pointer;
      i {
        transform: rotateY(180deg);
        margin-right: 5px;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .header {
    display: inline-block;
    user-select: none;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8em;
    opacity: 0.8;

    * {
      display: inline-block;
    }

    .author {
      font-weight: 700;
      color: #08f;
      i {
        margin-right: 10px;
      }
    }
    .date {
      margin-left: 10px;
      &:before {
        content: '\22C5';
        margin-right: 10px;
      }
    }
    // .reply {
    //   margin-left: 15px;
    //   font-size: 16px;
    //   color: var(--font-color);
    //   cursor: pointer;
    //   &:before {
    //     content: 'reply';
    //   }
    //   &:hover {
    //     box-shadow: inset 0px -1px var(--input-border);
    //   }
    // }
    .delete {
      margin-left: 15px;
      color: rgb(255, 59, 48);
      cursor: pointer;
      opacity: 0.8;
      transition: 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}
