//@import '../../assets/fontawesome/css/all.min.css';
@import './_variables.scss';

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Display, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--font-color);
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}
@media only screen and (min-width: $browser) {
  body {
    padding-left: 25px;
  }
}

p {
  text-align: justify;
  white-space: pre-line;
}

a {
  color: #08f;
  text-decoration: none;
  transition: 0.2s ease;
  &:hover {
    box-shadow: inset 0px -1px #08f;
  }
}

.gradient {
  background-image: linear-gradient(to bottom right, #08f, #34e985);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
[ng-reflect-router-link] {
  outline: none;
  &:active {
    outline: none;
  }
}

.removeWhite {
  height: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  transition: 0.2s ease;
  background: var(--background);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-nograb);
  border-radius: 4px;
  transition: 0.2s ease;
  opacity: 0.7;
  &:hover {
    background: var(--scrollbar-thumb-grab);
    cursor: grabbing;
  }
}

.splitter {
  margin: 15px 0px;
  height: 1px;
  width: 100%;
  background: #bbb;
}

@media only screen and (min-width: $browser) {
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 60px) !important;
  }
}

@media only screen and (max-width: $mobile) {
  .landing h1 {
    word-wrap: break-word;
  }
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 10px) !important;
  }
}

.landing {
  text-align: center;
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  padding: 100px 10px;
  min-height: 50px;
  margin-bottom: -50px;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));

  padding-right: calc(env(safe-area-inset-right) + 10px);

  user-select: none;
  transition: 2.5s ease;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  h1 {
    font-weight: 700;
    text-shadow: 1px 1px 10px #444;
  }
  h2 {
    font-weight: 650;
    color: #eee;

    &:before,
    &:after {
      content: '\23AF';
      padding: 0 10px;
    }
  }
}
@media only screen and (min-width: $browser) {
  .paragraph {
    margin: 20px 60px;
    margin-bottom: 40px;
    padding: 10px 50px;
  }
}
@media only screen and (max-width: $mobile) {
  .paragraph {
    margin: 20px 10px;
    padding: 1px 20px;
    h1 {
      margin: 0px;
      margin-top: 20px;
    }
  }
}

.paragraph {
  background: var(--paragraph);
  border-radius: 5px;
  transition: 1s ease;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  h3 {
    opacity: 0.8;
  }

  .media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 40px;
    margin: 30px 0px 10px 0px;
    i {
      display: inline-flex;
      font-size: 30px;
      opacity: 0.75;
      transition: 0.4s ease;
      cursor: pointer;
      &:not(:hover) {
        color: var(--font-color) !important;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .tablewrapper table td {
    height: 20px;
    padding: 10px;
    line-height: 20px;
  }
}
@media only screen and (min-width: $browser) {
  .tablewrapper table td {
    height: 30px;
    padding: 10px;
    line-height: 30px;
  }
}

.tablewrapper {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;

    tr {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: var(--background);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      td {
        text-overflow: ellipsis;
        color: var(--font-color);
      }
    }
  }
}

$boxes: 20;
$durationAll: 0.8s;
$duration: -$durationAll / $boxes;
$color: #08f;

.loaderWrapper {
  display: block;
  height: 2px;
  margin-bottom: 10px;
}

.loader {
  height: 2px;
  display: flex;
  transform: translateZ(0);

  div {
    flex: 1;
    background: $color;
    animation: go $durationAll infinite alternate ease;
    box-shadow: 0 0 20px $color;

    @for $i from 1 through $boxes {
      &:nth-child(#{$i}) {
        animation-delay: $duration * ($boxes - $i);
      }
    }
  }
}
@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@media only screen and (min-width: $browser) {
  .iconButtonHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: $mobile) {
  .iconButtonHeading {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    margin-bottom: 15px;
    .iconButton {
      text-align: center;
    }
  }
}

[green] .iconButton {
  color: rgb(52, 199, 89) !important;
  border: 1px solid rgb(52, 199, 89) !important;
  &::before {
    background-color: rgb(52, 199, 89) !important;
  }
}
[red] .iconButton {
  color: rgb(255, 59, 48) !important;
  border: 1px solid rgb(255, 59, 48) !important;
  &::before {
    background-color: rgb(255, 59, 48) !important;
  }
}

.centerButtons {
  display: block;
  margin-top: 10px;
  text-align: center;
  * {
    display: inline-block;
    margin: 0px 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  i {
    margin-right: 5px !important;
  }
}

[custom-title] {
  position: relative;
  cursor: help;

  &::before {
    content: attr(customTitle);
    padding: 2px 10px;
    background: #08f;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
  }

  &::after {
    content: '';
    margin-bottom: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #08f;
  }

  &:hover,
  &:active {
    &::before,
    &::after {
      display: block;
      animation: customTitleAnim 0.5s;
      bottom: 45px;
    }
  }
  &::before,
  &::after {
    position: absolute;
    display: none;
  }

  @keyframes customTitleAnim {
    from {
      opacity: 0;
      bottom: 0;
      letter-spacing: -10px;
    }
    to {
      opacity: 1;
      bottom: 45px;
      letter-spacing: normal;
    }
  }
}
