<html lang="en">
    <div class="search-card">
         <div class="Searchbar">
             <input  class="Searchbar" type="text" name="UsersSearch" placeholder="Search... "><br>
             <button style="background-image: path(../assets/img/search-icon.svg)" alt="Search-icon"></button>
        </div>
    </div>
    <p></p>
    <div class="row">
            <div class="collom">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Frage</h5>
                  <p class="card-text">Antwort</p>
                  <button class="button" (click)="Bearbeitungsvorschlageinreichen">Bearbeitungsvorschlag</button>                </div>
              </div>
            </div>
            <div class="collom">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Frage</h5>
                  <p class="card-text">Antwort</p>
                  <button  class="button" (click)="Bearbeitungsvorschlageinreichen">Bearbeitungsvorschlag</button>
                </div>
              </div>
            </div>
          </div>
</html>