@media only screen and (min-width: 850px) {
  .questionwrapper {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    margin: 20px 60px;
  }
  .questionanswer {
    margin-bottom: 40px;
  }
  .filterWrapper {
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 849px) {
  .questionwrapper {
    -webkit-columns: 1;
            columns: 1;
    margin: 20px 10px;
    margin-bottom: 0px;
  }
  .questionanswer {
    margin-bottom: 20px;
  }
  .filterWrapper {
    grid-gap: 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.questionwrapper {
  word-break: break-all;
}

.questionwrapper .questionanswer {
  display: inline-block;
  width: 100%;
  background: var(--paragraph);
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
  -webkit-transition: 2s ease;
  transition: 2s ease;
  overflow: visible;
  opacity: 0;
}

.questionwrapper .questionanswer .icon::before {
  content: '\f60b';
  font-family: 'Font Awesome 5 Duotone';
  font-weight: 900;
  position: absolute;
  color: #08f;
  font-size: 1.8em;
  width: 34px;
  left: 50%;
  -webkit-transform: translate(-50%, -16px);
          transform: translate(-50%, -16px);
  background: var(--paragraph);
  text-align: center;
  border-radius: 50px;
  padding-top: 3px;
  overflow: visible;
  word-wrap: none;
}

.questionwrapper .questionanswer .question {
  padding: 15px 20px;
  margin-bottom: -25px;
  font-weight: 600;
  font-size: 1.2em;
  opacity: 0.7;
}

.questionwrapper .questionanswer .answer {
  padding: 20px;
}

.questionwrapper .questionanswer .actions {
  margin: 0px 20px;
  padding: 10px;
  border-top: 1px solid #bbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questionwrapper .questionanswer .actions .action {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0.7;
}

.questionwrapper .questionanswer .actions .action:hover, .questionwrapper .questionanswer .actions .action[active='true'] {
  opacity: 1;
}

.questionwrapper .questionanswer .actions .action[description]:after {
  margin-left: 5px;
  content: attr(description);
}

.searchWrapper {
  display: block;
  width: 80%;
  margin: 0px 10%;
  margin-top: 10px;
  margin-bottom: -50px;
}

.searchBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 45px;
      grid-template-columns: 1fr 45px;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-gap: 0;
  border-radius: 20px;
  background: rgba(200, 200, 200, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.searchBar .inputWrapper {
  display: -ms-inline-grid;
  display: inline-grid;
  padding-left: 20px;
}

.searchBar .inputWrapper input {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.searchBar .search {
  display: -ms-inline-grid;
  display: inline-grid;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.searchBar .search i {
  font-size: 20px;
}

.filterWrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
  margin-top: -20px;
}

.filter {
  display: -ms-inline-grid;
  display: inline-grid;
}

.name {
  border: 1px solid var(--input-border);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.name i {
  margin-right: 10px;
}

/*
.searchLanding {
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  margin-bottom: -50px;
  transition: 1.4s ease;
}

.searchLandingWrapper {
  transition: 1.4s ease;
  position: absolute;
  padding-bottom: 55px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    color: #fff;
    margin: 0;
  }
}*/
.searchLanding {
  width: calc(100% + env(safe-area-inset-left) + env(safe-area-inset-right));
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  -webkit-transition: 1.4s ease;
  transition: 1.4s ease;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
}

.searchLanding .searchLandingWrapper {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1.4s ease;
  transition: 1.4s ease;
}

.searchLanding .searchLandingWrapper h1 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.come-in {
  -webkit-animation: come-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: come-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes come-in {
  from {
    -webkit-transform: scale(0.5) translateY(100px);
            transform: scale(0.5) translateY(100px);
    opacity: 0 !important;
  }
  to {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes come-in {
  from {
    -webkit-transform: scale(0.5) translateY(100px);
            transform: scale(0.5) translateY(100px);
    opacity: 0 !important;
  }
  to {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=search.component.css.map */