@media only screen and (min-width: 850px) {
  .questionwrapper {
    margin: 30px 0px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .questionwrapper {
    margin: 20px 0px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .questionwrapper {
    margin: 20px 0px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.questionwrapper {
  display: grid;
  grid-gap: 20px;
  overflow: auto;
}

.questionanswer {
  display: inline-grid;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  background: var(--background);
}

.question {
  font-weight: 700;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--input-border);
}

.question::before {
  content: "Q: ";
  font-weight: 800;
  opacity: 0.8;
}

.answer::before, .answer::after {
  content: '"';
}

.feedback {
  text-align: right;
  margin-bottom: -5px;
  font-size: 0.8em;
  color: var(--font-color);
  cursor: pointer;
  opacity: 0.5;
}

.feedback:hover {
  opacity: 0.75;
}

.feedback::before {
  content: "Feedback";
}

.searchWrapper {
  display: block;
  width: 80%;
  margin: 0px 10%;
  margin-top: 10px;
  margin-bottom: -50px;
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr 45px;
  grid-template-rows: 40px;
  grid-gap: 0;
  border-radius: 20px;
  background: rgba(200, 200, 200, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.searchBar .inputWrapper {
  display: inline-grid;
  padding-left: 20px;
}

.searchBar .inputWrapper input {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.searchBar .search {
  display: inline-grid;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.searchBar .search i {
  font-size: 20px;
}

.lecture {
  border: 1px solid var(--input-border);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  user-select: none;
}

.lecture i {
  margin-right: 10px;
}