<div [ngStyle]="landingWrapperStyle">
  <div class="landing" [ngStyle]="landingStyle">
    <h1>Nach einer Antwort suchen</h1>
    <h2>Fragen beantworten</h2>

    <div class="searchWrapper">
      <div class="searchBar">
        <div class="inputWrapper">
          <input
            type="text"
            [(ngModel)]="searchQuery"
            (keydown)="onInputKeyDown($event)"
          />
        </div>
        <div class="search" (click)="startSearch()">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="resultsWrapper">
  <div class="paragraph">
    <div class="questionwrapper">
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">1 mod x = 2</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">1 mod x = 2</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">1 mod x = 2</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
      <div class="questionanswer">
        <div class="question">Was ist 1+1</div>
        <div class="answer">Rel. ez. 1+1 = 2</div>
        <div class="feedback"></div>
      </div>
    </div>
  </div>
  <div class="removeWhite"></div>
</div>
