<div class="searchLanding" [ngStyle]="landingStyle">
  <div class="searchLandingWrapper" [ngStyle]="landingWrapperStyle">
    <h1>Welche Frage hast du?</h1>

    <div class="searchWrapper">
      <div class="searchBar">
        <div class="inputWrapper">
          <input type="text" [(ngModel)]="searchQuery" (keydown)="onInputKeyDown($event)" />
        </div>
        <div class="search" (click)="startSearch()">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <div *ngIf="isSearching" class="loaderWrapper" style="margin: -1px 20px;">
        <div class="loader">
          <div *ngFor="let y of [].constructor(20)"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" [ngStyle]="overlayStyle" (click)="closeUserCard()">
  <div class="userCard" [ngStyle]="cardStyle" (click)="onClick($event); hideSelection()">
    <div class="close" (click)="closeUserCard()"></div>
    <h2>Informationen</h2>
    <div class="information">
      <h3>Frage</h3>
      <textarea><!-- TODO: Hier soll die ursprüngliche Frage angezeigt werden --></textarea>
      <div class="splitter_"></div>
      <h3>Antwort</h3>
      <textarea><!-- TODO: Hier soll die ursprüngliche Antwort angezeigt werden --></textarea>
      <div class="splitter_"></div>
      <h3>Quelle</h3>
      <textarea><!-- TODO: Hier soll die ursprüngliche Quelle angezeigt werden --></textarea>
    </div>
    <div style="display: block; text-align: center; margin-top: 10px;">
      <div red tabindex="5" class="iconButton" id="delete" (click)="deleteQuestion()">
        <i class="fad fa-trash-alt"></i>Löschen
      </div>
      <div green tabindex="6" class="iconButton" id="accept" (click)="acceptQuestion()">
        <i class="fab fa-wpforms"></i>Frage & Antwort speichern
      </div>

    </div>
  </div>
</div>

<div [ngStyle]="resultsWrapper">
  <div class="paragraph">
    <h2>Filter setzen</h2>

    <div class="filterWrapper">

      <div class="filter">
        <!--
          TODO:
            + Welche Filter können gesetzt werden?
            + Jeder Button braucht einen eigenen Style
            + Wenn ein neues Select ausgewählt wird, soll sich der alte schließen 
        -->
        <h3>Vorlesung</h3>
        <div class="lecture" (click)="toggleSelection(); onClick($event)">
          <span *ngIf="formData[3].length > 0">{{ formData[3] }}</span>
          <span style="opacity: .6" *ngIf="formData[3].length <= 0">
            <i class="fad fa-list-ul"></i>Bitte wähle eine Vorlesung
          </span>
        </div>

        <div class="selectionWrapper" [ngClass]="selectionClass">
          <div class="selection" sTitle="Vorlesung wählen">
            <div *ngFor="let lecture of lectures" class="item" (click)="setLecture(lecture)">
              {{ lecture }}
            </div>
          </div>
        </div>
      </div>


      <div class="filter">
        <h3>Filter 2</h3>
        <div class="name" (click)="toggleSelection()">
          <i class="fad fa-list-ul"></i>Bitte wähle einen Filter 2
        </div>
        <div class="selectionWrapper" [ngStyle]="selectionStyle">
          <div class="selection" sTitle="Vorlesung wählen">
            <div *ngFor="let lecture of lectures" class="item" (click)="setLecture(lecture)">
              {{ lecture }}
            </div>
          </div>
        </div>
      </div>


      <div class="filter">
        <h3>Filter 3</h3>
        <div class="name" (click)="toggleSelection()">
          <i class="fad fa-list-ul"></i>Bitte wähle einen Filter 3
        </div>
        <div class="selectionWrapper" [ngStyle]="selectionStyle">
          <div class="selection" sTitle="Vorlesung wählen">
            <div *ngFor="let lecture of lectures" class="item" (click)="setLecture(lecture)">
              {{ lecture }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="paragraph">
    <h3>Gefundene Fragen & Antworten</h3>
  </div>
  <div class="questionwrapper">
    <div class="questionanswer" *ngFor="let result of results; let i = index">
      <div class="icon"></div>
      <div class="question">{{ result.question }}</div>
      <div class="answer">{{ result.answer }}</div>
      <div class="actions">
        <div class="action" active="true" description="329" style="color: rgb(52, 199, 89)">
          <i class="fad fa-thumbs-up"></i>
        </div>
        <div class="action" description="13" style="color: rgb(255, 59, 48)">
          <i class="fad fa-thumbs-down"></i>
        </div>
        <div class="action" description="Feedback" style="color: #08f" (click)="openUserCard()">
          <i class="fab fa-wpforms"></i>
        </div>
        <div class="action" [routerLink]="['/question', 3647364276]" description="Vergrößern">
          <i class="fad fa-external-link"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="removeWhite"></div>
</div>