<div class="landing">
  <h1>Review-Management</h1>
  <h2>Accept / Decline</h2>
</div>

<div class="paragraph">
  <h2>Zu überprüfende Fragen: {{ this.myItems.length }}</h2>

  <div class="tablewrapper">
    <table id="itemsTable" style="width:100%">
      <tr *ngFor="let item of myItems; let i = index" (click)="togglePopUp(item)">
        <td>
          <span class="{{ item.status }}"></span>
        </td>
        <td>F:</td>
        <td>{{ item.question }}</td>
        <td>A:</td>
        <td>{{ item.answer }}</td>
      </tr>
    </table>
  </div>

  <div class="modal" [ngStyle]="display" (click)="closeModal()">
    <div class="modal-content" (click)="onClick($event)">
      <div class="close" (click)="closeModal()"></div>
      <h2>Formular</h2>

      <h3>Frage</h3>
      <richie-textarea
        [(ngModel)]="formData[0]"
        [tabindex]="1"
        [placeholder]="formData[0]"
      ></richie-textarea>

      <h3>Antwort</h3>
      <richie-textarea
        [(ngModel)]="formData[1]"
        [tabindex]="2"
        [placeholder]="formData[1]"
      ></richie-textarea>

      <div class="inputWrapper">
        <div class="input">
          <h3>Quelle</h3>
          <richie-input
            [tabindex]="3"
            [(ngModel)]="formData[2]"
            [placeholder]="formData[2]"
          ></richie-input>
        </div>
        <div class="input">
          <h3>Vorlesung</h3>

          <richie-select
            [items]="lectures"
            [tabindex]="4"
            (change)="selectionChanged($event)"
            [currentItem]="formData[3]"
            heading="Vorlesung"
            placeholder="Vorlesung"
          ></richie-select>
        </div>
      </div>

      <div style="display: block; text-align: center; margin-top: 10px;">
        <richie-iconbutton
          style="margin: 0px 5px"
          [tabindex]="5"
          (click)="deleteQuestion()"
          (keydown)="buttonKeydown('del', $event)"
          icon="fad fa-trash-alt"
          text="Löschen"
          red
        ></richie-iconbutton>
        <richie-iconbutton
          style="margin: 0px 5px"
          [tabindex]="6"
          (click)="acceptQuestion()"
          (keydown)="buttonKeydown('add', $event)"
          icon="fab fa-wpforms"
          text="Frage & Antwort speichern"
          green
        ></richie-iconbutton>
      </div>
    </div>
  </div>
</div>

<div class="removeWhite"></div>
