<script
  type="text/javascript"
  src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
></script>

<div class="landing">
  <h1>Willkommen zurück!</h1>
  <h2>Login and go</h2>
</div>

<div class="paragraph">
  <h2 (click)="globals.logIn()">Login</h2>
  <h3>Nutze hierzu deinen Lieblings-Account</h3>

  <div class="signInWiths">
    <div class="signInWith">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
  </div>
</div>

<div class="removeWhite"></div>
