<script
  type="text/javascript"
  src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
></script>

<div class="landing">
  <h1>Willkommen zurück!</h1>
  <h2>Login and go</h2>
</div>

<div class="paragraph">
  <h2 (click)="globals.logIn()">Login</h2>
  <h3>Nutze hierzu deinen Lieblings-Account</h3>

  <div class="signInWiths">
    <div class="signInWith" (click)="openSignInWith('apple')">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith" (click)="openSignInWith('apple')">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith" (click)="openSignInWith('apple')">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
    <div class="signInWith" (click)="openSignInWith('apple')">
      <img class="signInWith" src="../../assets/signInWith/apple.png" />
    </div>
  </div>
</div>

<div class="paragraph">
  <h3>Vorteile, die du durch eine Anmeldung hast</h3>
  <ul>
    <li>Neue Fragen einreichen & anderen Helfen</li>
    <li>Fragen bearbeiten, solltest du eine einfachere Antwort haben</li>
    <li>Fragen favorisieren, um sie später leichter zu finden</li>
    <li>Fragen & Antworten bewerten</li>
    <li>Kommentare unter Fragen posten</li>
    <li>Mit anderen <span class="gradient">Pros</span> diskutieren</li>
  </ul>
</div>

<div class="removeWhite"></div>
