.signInWiths {
  display: block;
  width: 100%;
}

.signInWiths .signInWith {
  display: inline-block;
  width: 200px;
  margin: 0px 5px 10px 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 1px solid transparent;
}

.signInWiths .signInWith img {
  border-radius: 20px;
  width: 100%;
}

.signInWiths .signInWith img:hover {
  cursor: pointer;
  border: 1px solid var(--input-border);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.searchLanding {
  min-height: 100vh;
  -webkit-transition: 0s !important;
  transition: 0s !important;
}

.landingFullWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--header);
  color: var(--font-color);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.landingFullWrapper h1 {
  margin: 0;
  margin-bottom: 10px;
}

.landingFullWrapper li {
  font-size: 1.2em;
  font-weight: 500;
}

.landingFullWrapper ul {
  margin: 0;
  margin-right: 5px;
}

.wrapper {
  margin-left: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.wrapper .loginForm {
  background: #fff;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 100vh;
}

.wrapper .slideShow .sliderElement {
  position: absolute;
  background-image: url("../../assets/img/landing_light@2k.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: calc(100% - 630px);
  padding: 40px;
  -webkit-animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
          animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

.wrapper .slideShow .sliderElement .title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 800;
  font-size: 2.5em;
  -webkit-animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
          animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

.wrapper .slideShow .sliderElement .description {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-weight: 650;
  font-size: 1.6em;
  max-width: 70%;
}

@-webkit-keyframes slider-anim {
  0% {
    top: 110vh;
    opacity: 0;
    -webkit-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
  }
  10% {
    top: 50%;
    opacity: 0.7;
    -webkit-transform: scale(0.5) translateY(-50%);
            transform: scale(0.5) translateY(-50%);
  }
  15%,
  85% {
    top: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  90% {
    top: -50%;
    opacity: 0.7;
    -webkit-transform: scale(0.5) translateY(-50%);
            transform: scale(0.5) translateY(-50%);
  }
  100% {
    top: -110vh;
    opacity: 0;
    -webkit-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
  }
}

@keyframes slider-anim {
  0% {
    top: 110vh;
    opacity: 0;
    -webkit-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
  }
  10% {
    top: 50%;
    opacity: 0.7;
    -webkit-transform: scale(0.5) translateY(-50%);
            transform: scale(0.5) translateY(-50%);
  }
  15%,
  85% {
    top: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
  90% {
    top: -50%;
    opacity: 0.7;
    -webkit-transform: scale(0.5) translateY(-50%);
            transform: scale(0.5) translateY(-50%);
  }
  100% {
    top: -110vh;
    opacity: 0;
    -webkit-transform: scale(0) translateY(-50%);
            transform: scale(0) translateY(-50%);
  }
}
/*# sourceMappingURL=login.component.css.map */