<div class="writeComment">
  <textarea
    (keyup)="autoGrowTextZone($event)"
    [(ngModel)]="value"
    placeholder="{{ placeholder }}"
    rows="1"
    required
  ></textarea>
  <span></span>
  <div *ngIf="hasActions" class="actions">
    <richie-iconbutton
      (click)="cancelClick($event)"
      text="Abbrechen"
      icon="fal fa-times"
      red
    ></richie-iconbutton>
    <richie-iconbutton
      (click)="submitClick($event)"
      text="Kommentieren"
      icon="fas fa-comment-alt"
      green
    ></richie-iconbutton>
  </div>
</div>
