.writeComment {
  display: block;
  position: relative;
  textarea {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    resize: none;

    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    color: var(--font-color);
    font-size: 16px;
    min-height: 23px;
    overflow: hidden;

    &::placeholder {
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 500;
      color: var(--font-color);
      opacity: 0.7;
    }
  }
  textarea:focus ~ span::before {
    width: 100%;
  }
  textarea:valid ~ .actions {
    max-height: 100px;
  }
  span {
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: -5px;
    background: var(--input-border);
    &::before {
      content: '';
      transition: 0.4s ease;
      position: absolute;
      width: 0%;
      height: 1px;
      background: #08f;
    }
  }
  .actions {
    max-height: 0px;
    overflow: hidden;
    text-align: right;
    margin-top: 5px;
    transition: 0.5s ease;

    richie-iconbutton {
      font-size: 12px !important;
      .iconButton {
        font-size: 12px !important;
      }
      &[red] {
        margin-right: 10px;
      }
    }
  }
}
