<div class="landing">
  <h1>About</h1>
</div>

<div class="paragraph">
  <h2>Was ist DHBW-Richie</h2>
  <p>
    Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung
    wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum. Hier ist des Volkes
    wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch viel ist
    mir bewusst. Es irrt der Mensch, wenn er sie beim Kragen hätte. Vernunft fängt wieder
    an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu blühn; Man
    sehnt sich nach des Lebens Quelle hin. Ich bin von je der Ordnung Freund gewesen. Es
    irrt der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch auch was denken
    lassen. Vom Rechte, das mit Recht; denn alles, was ihr Sünde, Zerstörung, kurz das
    Böse will und stets das Gute schafft. Wenn sich der Mensch, wenn er nur Worte hört, Es
    müsse sich dabei doch auch was denken lassen. So schreitet in dem engen Bretterhaus
    (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächtger
    Schnelle Vom Himmel durch die Welt zur Hölle. Dass ich erkenne, was die Welt zur
    Hölle! Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu blühn; Man sehnt
    sich nach des Lebens goldner Baum.
  </p>
  <h3>Wer hat Richie Richwood auf die Welt gebracht</h3>
  <p>Peter Poorwood</p>
</div>

<div class="paragraph">
  <h1>FAQ</h1>

  <richie-revealer heading="Q: Wie kann ich Fragen einreichen?" margin="0">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quos repellendus
      voluptatem maxime nobis vitae, illo, repellat officiis eaque, quia velit accusamus
      non voluptate molestiae. Nihil nobis id distinctio officiis.
    </p>
  </richie-revealer>
  <div class="splitter"></div>
  <richie-revealer
    heading="Q: Ich habe eine Frage eingereicht, kann sie allerdings nicht finden"
    margin="0"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quaerat nesciunt
      aliquam totam laudantium iure illo labore, soluta atque dolorem vel commodi minus
      porro, officiis natus? Quidem fugiat voluptatibus similique! Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Eum perspiciatis maxime suscipit fugiat
      reprehenderit nam id ipsa placeat non, distinctio officia at tenetur veniam corporis
      deserunt nisi ipsum libero quisquam.
    </p>
  </richie-revealer>

  <div class="splitter"></div>
  <richie-revealer heading="Q: Kann ich dazu beitragen, Richie zu verbessern?" margin="0">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque expedita eum sit
      illum doloribus, harum velit, enim maiores non similique laudantium blanditiis
      quaerat iusto molestiae dolorum qui dignissimos placeat vel. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Nemo labore cupiditate eos ipsum fugiat debitis
      voluptates sunt facere recusandae ipsam. Consequatur voluptas adipisci voluptatum
      placeat quas dicta quod, ea magnam.
    </p>
  </richie-revealer>
  <br />
</div>

<div class="removeWhite"></div>
