.commentWrapper {
  display: block;
  width: 100%;
}

.comment {
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
  &:not(:last-child) {
    //border-bottom: 1px solid var(--input-border);
  }

  .message {
    padding: 0px 10px;
    margin-left: 5px;
    border-left: 1px solid var(--input-border);
    white-space: pre-line;
    .comment {
      padding-bottom: 0px;
    }
  }

  .header {
    display: inline-block;
    user-select: none;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8em;
    opacity: 0.8;

    * {
      display: inline-block;
    }

    .author {
      font-weight: 700;
      color: #08f;
      i {
        margin-right: 10px;
      }
    }
    .date {
      margin-left: 10px;
      &:before {
        content: '\22C5';
        margin-right: 10px;
      }
    }
    .reply {
      margin-left: 15px;
      font-size: 16px;
      color: var(--font-color);
      cursor: pointer;
      &:before {
        content: 'reply';
      }
      &:hover {
        box-shadow: inset 0px -1px var(--input-border);
      }
    }
  }
}

.answerHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  * {
    align-self: center;
  }
  h2 {
    display: inline-flex;
    padding-top: 5px;
  }
  .actions {
    display: inline-flex;
    border-bottom: 1px solid var(--input-border);
    padding: 5px;

    .action {
      display: inline-block;
      padding: 0px 5px;
      min-width: 30px;
      text-align: center;
      transition: 0.2s ease;
      &:not(:first-child) {
        margin-left: 10px;
      }
      cursor: pointer;
      &:hover,
      &[selected='true'] {
        .description,
        i {
          opacity: 1;
        }
      }
      i {
        opacity: 0.8;
      }
      &[amount]::after {
        content: attr(amount);
        //position: absolute;
        padding-top: 4px;
        //margin-left: -5px;
        display: block;
        width: 40px;
        opacity: 0.7;
        font-size: 12px;
      }
      .description {
        font-size: 0.8em;
        display: inline-block;
        opacity: 0.7;
        margin-left: 10px;
        text-transform: uppercase;
      }
    }
  }
}
