@import './assets/fonts/fontfaces.css';
@import './assets/fontawesome/css/all.min.css';
@import './app/scss/variables';

html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  background: var(--background);
  font-family: 'SF Pro Display', sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
  max-width: 100%;
}
body {
  min-height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}
@media only screen and (min-width: $browser) {
  body {
    padding-left: 25px;
  }
}

p {
  text-align: justify;
  white-space: pre-line;
}

a {
  color: #08f;
  text-decoration: none;
  transition: 0.2s ease;
  &:hover {
    box-shadow: inset 0px -1px #08f;
  }
}

.gradient {
  background-image: linear-gradient(to bottom right, #08f, #34e985);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
[ng-reflect-router-link] {
  outline: none;
  &:active {
    outline: none;
  }
}

.removeWhite {
  height: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  transition: 0.2s ease;
  background: var(--background);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-nograb);
  border-radius: 4px;
  transition: 0.2s ease;
  opacity: 0.7;
  &:hover {
    background: var(--scrollbar-thumb-grab);
    cursor: grabbing;
  }
}

.splitter {
  margin: 30px 0px;
  height: 1px;
  width: 100%;
  background: #bbb;
}

@media only screen and (min-width: $browser) {
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 60px) !important;
  }
}

@media only screen and (max-width: $mobile) {
  .landing h1 {
    word-wrap: break-word;
  }
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 10px) !important;
  }
}

.landing {
  text-align: center;
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  padding: 100px 10px;
  min-height: 50px;
  margin-bottom: -50px;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));

  padding-right: calc(env(safe-area-inset-right) + 10px);

  user-select: none;
  transition: 2.5s ease;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  h1 {
    font-weight: 700;
    text-shadow: 1px 1px 10px #444;
  }
  h2 {
    font-weight: 650;
    color: #eee;

    &:before,
    &:after {
      content: '\23AF';
      padding: 0 10px;
    }
  }
}
@media only screen and (min-width: $browser) {
  .paragraph {
    margin: 20px 60px;
    margin-bottom: 40px;
    padding: 10px 50px;
  }
}
@media only screen and (max-width: $mobile) {
  .paragraph {
    margin: 20px 10px;
    padding: 1px 20px;
    h1 {
      margin: 0px;
      margin-top: 20px;
    }
  }
}

.paragraph {
  background: var(--paragraph);
  border-radius: 5px;
  transition: 1s ease;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  h3 {
    opacity: 0.8;
  }

  .media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 40px;
    margin: 30px 0px 10px 0px;
    i {
      display: inline-flex;
      font-size: 30px;
      opacity: 0.75;
      transition: 0.4s ease;
      cursor: pointer;
      &:not(:hover) {
        color: var(--font-color) !important;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .tablewrapper table td {
    height: 20px;
    padding: 10px;
    line-height: 20px;
  }
}
@media only screen and (min-width: $browser) {
  .tablewrapper table td {
    height: 30px;
    padding: 10px;
    line-height: 30px;
  }
}

.tablewrapper {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;

    tr {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: var(--background);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      td {
        text-overflow: ellipsis;
        color: var(--font-color);
      }
    }
  }
}
.container {
  opacity: 1;
  max-width: 100%;
  transform: scale(1);
}

.selection {
  z-index: 1000019;
  text-align: left;
  .selected {
    &::after {
      content: '\f054';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      display: none;
    }
    i {
      padding-left: 5px;
      font-size: 0.8em;
      color: #08f;
    }
  }
  .items {
    user-select: none;
    display: none;
    position: absolute;
    padding-left: 160px;
    margin-top: -120px;
    font-size: 1.3em;

    .wrapper {
      overflow-y: auto;
      max-height: 200px;
    }

    .container {
      background: rgba(var(--popupBackground), 0.75);
      box-shadow: 2px 4px 10px var(--popupShadow);
      backdrop-filter: blur(7px) !important;
      border-radius: 10px;
      overflow-x: hidden;
      white-space: nowrap;

      max-width: 0px;
      opacity: 0.7;
      transform: scale(0);

      &::before {
        content: 'Gruppe wählen\00a0\00a0\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF';
        font-weight: 600;
        display: block;
        opacity: 0.9;
        font-size: 0.9em;
        padding: 10px;
        word-wrap: none;
      }
      .item {
        font-size: 0.9em;
        padding: 5px 0px;
        padding-left: 10px;
        margin: 1px 0px;
        display: list-item;
        list-style: none;
        transition: 0.2s ease;
        opacity: 0.7;
        background-image: linear-gradient(transparent, transparent);
        cursor: pointer;

        &:before {
          content: '\f054';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: none;
        }

        i {
          color: #08f;
          font-size: 0.8em;
          padding-right: 10px;
        }

        &:hover,
        &:focus {
          color: #fff;
          opacity: 1;
          transition: 0.2s ease;
          background-image: linear-gradient(to right, #08f, rgb(78, 167, 245));
          i {
            color: #fff;
          }
        }
      }
    }
  }
}

.selectionWrapper {
  display: block;
  position: absolute;

  font-size: 1.3em;

  background: var(--popupBackground);
  box-shadow: 2px 4px 10px var(--popupShadow);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  user-select: none;

  transform: scale(0);
  max-width: 0px;
  transition: 0.2s ease;

  .selection {
    overflow-y: auto;
    max-height: 200px;
    min-width: 200px;

    &::before {
      content: attr(sTitle);
      font-weight: 600;
      display: block;
      opacity: 0.9;
      line-height: 35px;
      font-size: 0.9em;
      padding: 0px 10px;
      word-wrap: none;
    }

    .item {
      font-size: 0.9em;
      padding: 5px 10px;
      margin: 1px 0px;
      display: list-item;
      list-style: none;
      background: transparent;
      opacity: 0.7;
      cursor: pointer;

      &:before {
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        display: none;
      }

      i {
        color: var(--font-color);
        font-size: 0.8em;
        padding-right: 10px;
        opacity: 0.4;
      }

      &:hover,
      &:focus {
        color: #fff;
        opacity: 1;
        background: linear-gradient(to right, #08f, rgb(78, 167, 245));
        i {
          color: #fff;
        }
      }
    }
  }
}

$boxes: 20;
$durationAll: 0.8s;
$duration: -$durationAll / $boxes;
$color: #08f;

.loaderWrapper {
  display: block;
  height: 2px;
  margin-bottom: 10px;
}

.loader {
  height: 2px;
  display: flex;
  transform: translateZ(0);

  div {
    flex: 1;
    background: $color;
    animation: go $durationAll infinite alternate ease;
    box-shadow: 0 0 20px $color;

    @for $i from 1 through $boxes {
      &:nth-child(#{$i}) {
        animation-delay: $duration * ($boxes - $i);
      }
    }
  }
}
@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

.showSelect {
  animation: showSelect 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes showSelect {
  from {
    transform: scale(0);
    opacity: 1;
    max-width: 0px;
  }
  to {
    transform: scale(1);
    opacity: 1;
    max-width: unset;
  }
}

.hideSelect {
  animation: hideSelect 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes hideSelect {
  0% {
    opacity: 1;
    max-width: 100%;

    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    max-width: 0px;
  }
}

@media only screen and (min-width: $browser) {
  .iconButtonHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: $mobile) {
  .iconButtonHeading {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    margin-bottom: 15px;
    .iconButton {
      text-align: center;
    }
  }
}

.specialInput {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  height: 50px;

  label {
    position: absolute;
    margin-top: -45px;
    color: var(--font-color);
    padding-left: 10px;
    transition: 0.3s ease;
    font-size: 0.8em;
    opacity: 0.6;
    font-weight: 500;
    pointer-events: none;
  }
  input {
    width: 100%;
    margin-top: 20px;
    color: var(--font-color);
    opacity: 0.8;
    padding: 5px 10px;
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 2px solid var(--input-border);
    transition: 0.5s ease;
    &:hover {
      opacity: 1;
      background: var(--background);
    }
    &:valid {
      border-color: #08f;
    }
    &:invalid {
      ~ label {
        margin-top: -25px !important;
        opacity: 0.8;
        font-size: 1em;
      }
    }
  }
}

[green] .iconButton {
  color: rgb(52, 199, 89) !important;
  border: 1px solid rgb(52, 199, 89) !important;
  &::before {
    background-color: rgb(52, 199, 89) !important;
  }
}
[red] .iconButton {
  color: rgb(255, 59, 48) !important;
  border: 1px solid rgb(255, 59, 48) !important;
  &::before {
    background-color: rgb(255, 59, 48) !important;
  }
}
