<div class="writeComment">
  <textarea
    (keyup)="autoGrowTextZone($event)"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [tabindex]="tabindex"
    rows="1"
    required
  ></textarea>
  <span></span>
  <div *ngIf="hasActions" class="actions">
    <richie-iconbutton
      (click)="cancelClick($event)"
      [tabindex]="tabindex + 1"
      text="Abbrechen"
      icon="ti ti-remove"
      red
    ></richie-iconbutton>
    <richie-iconbutton
      (click)="submitClick($event)"
      [tabindex]="tabindex + 2"
      text="Kommentieren"
      icon="ti ti-feedback"
      green
    ></richie-iconbutton>
  </div>
</div>
