@media only screen and (max-width: 650px) {
  .userCard {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }
  .userCard i {
    font-size: 0px;
  }
  .userCard .information {
    grid-gap: 20px;
  }
  .userCard table {
    max-width: 100%;
  }
  .userCard .stats {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .stats {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .stats {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .userCard {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
  }
  .userCard i {
    font-size: 0px;
  }
  .information {
    grid-gap: 20px;
    margin: 0px calc(50% - 320px);
    -ms-grid-columns: 0px 1fr 120px;
        grid-template-columns: 0px 1fr 120px;
  }
}

@media only screen and (min-width: 850px) {
  .stats {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
  }
  .userCard {
    padding: 30px;
    min-width: 650px;
  }
  .userCard i {
    font-size: 60px;
  }
  .userCard .information {
    -ms-grid-columns: 120px 1fr 120px;
        grid-template-columns: 120px 1fr 120px;
    grid-gap: 20px;
  }
}

.stats {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 20px;
  text-align: center;
  overflow-x: auto;
}

.stats [ng-reflect-router-link] {
  cursor: pointer;
}

.stat {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--background);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stat h1 {
  font-size: 18px;
}

.stat i {
  width: 100%;
  font-size: 60px;
  margin: 5px 0px;
  margin-bottom: 10px;
}

.stat span,
.stat .selected {
  color: #08f;
  font-weight: 600;
  font-size: 25px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  text-align: center;
}

.userSearch {
  display: inline-block;
  color: var(--font-color);
  font-size: 16px;
  border: 1px solid var(--input-border);
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding: 5px 20px;
  border-radius: 40px;
  margin-right: 15px;
  outline: none;
  background: transparent;
}

.userSearch:focus, .userSearch:hover {
  background: var(--input-border);
}

.close {
  width: 40px;
  height: 40px;
  right: 5px;
  top: 5px;
  border-radius: 40px;
  position: absolute;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
  opacity: 0.4;
}

.close:hover {
  opacity: 0.8;
}

.close::before, .close::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background: var(--font-color);
}

.close::before {
  -webkit-transform: rotate(45deg) scale(0.7);
          transform: rotate(45deg) scale(0.7);
}

.close::after {
  -webkit-transform: rotate(-45deg) scale(0.7);
          transform: rotate(-45deg) scale(0.7);
}

.overlay {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.userCard {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10001;
  background: var(--paragraph);
  overflow-x: auto;
  display: block;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.userCard h2 {
  margin-top: 0;
}

.userCard .stats {
  margin-bottom: 0;
}

.userCard .information {
  display: -ms-grid;
  display: grid;
}

.userCard .status {
  display: -ms-inline-grid;
  display: inline-grid;
  height: 100%;
  width: 100%;
}

.userCard .status i {
  font-size: 30px;
  width: 100%;
}

.userCard .statusTitle {
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.userCard .toggle {
  color: var(--font-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.75;
}

.userCard .toggle:hover {
  color: #08f;
  opacity: 1;
}

.userCard .toggle:active {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.userCard i {
  opacity: 0.8;
}

.userCard table {
  border-collapse: collapse;
}

.userCard table tr {
  height: 25px;
}

.userCard table tr:not(:first-child) {
  border-top: 1px solid var(--input-border);
}

.active {
  color: #34c759;
}

.disabled {
  color: #ff3b30;
}

@-webkit-keyframes overlay-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=admin.component.css.map */