<div class="landing">
  <h1>Administrations Oberfläche</h1>
  <h2>Verwaltung & Management</h2>
</div>

<div class="paragraph">
  <h2>Statistik</h2>
  <div class="stats">
    <div class="stat">
      <h1>Registrierte Benutzer</h1>
      <i class="fas fa-users"></i>
      <span>10</span>
    </div>
    <div class="stat">
      <h1>Fragen eingereicht</h1>
      <i class="fas fa-atlas"></i>
      <span>234</span>
    </div>
    <div class="stat">
      <h1>Fragen gestellt</h1>
      <i class="fas fa-question"></i>
      <span>45902</span>
    </div>
    <div class="stat" [routerLink]="['/telegram']">
      <h1>Telegram Channel</h1>
      <i class="fab fa-telegram"></i>
      <span>5</span>
    </div>
  </div>
</div>

<div class="overlay" [ngStyle]="overlayStyle" (click)="closeUserCard()">
  <div class="userCard" [ngStyle]="cardStyle" (click)="onClick($event)">
    <div class="close" (click)="closeUserCard()"></div>
    <h2>Informationen</h2>
    <div class="information">
      <div class="icon">
        <i class="far fa-address-card"></i>
      </div>
      <table>
        <tr>
          <td>Username</td>
          <td>{{ activeUser.name }}</td>
        </tr>
        <tr>
          <td>E-Mail-Adresse</td>
          <td>{{ activeUser.mail }}</td>
        </tr>
        <tr>
          <td>Erstellt am</td>
          <td>{{ activeUser.created | date: "dd.MM.yyyy" }}</td>
        </tr>
      </table>

      <div *ngIf="activeUser.enabled" class="status">
        <i class="fas fa-user-check active"></i>
        <div class="statusTitle active">Freigeschaltet</div>
        <div class="toggle" (click)="toggleUserActivation()">
          Deaktivieren
        </div>
      </div>

      <div *ngIf="!activeUser.enabled" class="status">
        <i class="fas fa-user-times disabled"></i>
        <div class="statusTitle disabled">Deaktiviert</div>
        <div class="toggle" (click)="toggleUserActivation()">
          Aktivieren
        </div>
      </div>
    </div>

    <div class="splitter"></div>

    <h2>Statistik</h2>
    <div class="stats">
      <div class="stat">
        <h1>Benutzer-<br />Nummer</h1>
        <i class="fab fa-slack-hash"></i>
        <span>{{ activeUser.id + 1 }}</span>
      </div>
      <div class="stat">
        <h1>Benutzer-<br />Gruppe</h1>
        <i class="fas fa-theater-masks"></i>
        <select id="activeUsersRank" [(ngModel)]="activeUser.rank">
          <option value="Admin">Admin</option>
          <option value="Pro">Pro</option>
        </select>
      </div>
      <div class="stat">
        <h1>Fragen<br />eingereicht</h1>
        <i class="fas fa-atlas"></i>
        <span>2</span>
      </div>
      <div class="stat">
        <h1>Fragen<br />gestellt</h1>
        <i class="fas fa-question"></i>
        <span>134</span>
      </div>
    </div>
  </div>
</div>

<div class="paragraph">
  <h2>Benutzerverwaltung</h2>
  <h3>Benutzer suchen</h3>

  <input
    type="text"
    class="userSearch"
    style="margin-bottom: 10px"
    [(ngModel)]="userSearch"
    (keydown)="onInputKeyDown($event)"
  />
  <div
    class="iconButton"
    style="display: inline-block"
    (click)="searchPlayer()"
  >
    <i class="fas fa-search"></i>Suche starten
  </div>

  <h3>Ergebnisse</h3>
  <div class="tablewrapper">
    <table>
      <tr *ngFor="let user of users; let i = index" (click)="openUserCard(i)">
        <td>{{ user.name }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.created | date: "dd.MM.yyyy" }}</td>
        <td>{{ user.rank }}</td>
        <td *ngIf="user.enabled"><i class="fas fa-user-check active"></i></td>
        <td *ngIf="!user.enabled">
          <i class="fas fa-user-times disabled"></i>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="paragraph">
  <h2>Administratoren</h2>
  <div class="tablewrapper">
    <table>
      <tr *ngFor="let user of users; let i = index" (click)="openUserCard(i)">
        <td>#{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.rank }}</td>
        <td *ngIf="user.enabled"><i class="fas fa-user-check active"></i></td>
        <td *ngIf="!user.enabled">
          <i class="fas fa-user-times disabled"></i>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="removeWhite"></div>
