<div class="landing">
    <h1>Review-Management</h1>
    <h2>Accept / Decline</h2>
</div>

<div class="paragraph">
    <h2>Zu überprüfende Fragen: {{ this.myItems.length }}</h2>

    <div class="tablewrapper">
        <table id="itemsTable" style="width:100%">
            <tr *ngFor="let item of myItems; let i = index" (click)="togglePopUp(item)">
                <td>
                    <span class="{{ item.status }}"></span>
                </td>
                <td>F:</td>
                <td>{{ item.question }}</td>
                <td>A:</td>
                <td>{{ item.answer }}</td>
            </tr>
        </table>
    </div>

    <div class="modal" [ngStyle]="display" (click)="closeModal()">
        <div class="modal-content" (click)="onClick($event)">
            <div class="close" (click)="closeModal()"></div>
            <h2>Formular</h2>

            <h3>Frage</h3>
            <textarea [ngModel]="questionInput" tabindex="1" rows="5"></textarea>

            <div class="splitter"></div>

            <h3>Antwort</h3>
            <textarea [ngModel]="answerInput" tabindex="2" rows="5"></textarea>

            <div class="splitter"></div>

            <div class="inputWrapper">
                <div class="input">
                    <h3>Quelle</h3>
                    <input [ngModel]="sourceInput" tabindex="3" type="text" />
                </div>
                <div class="input">
                    <h3>Vorlesung</h3>
                    <input [ngModel]="lectureInput" tabindex="4" type="text" />
                </div>
            </div>

            <div style="display: block; text-align: center; margin-top: 10px;">
                <div tabindex="5" class="iconButton" id="delete" (click)="deleteQuestion()">
                    <i class="fad fa-trash-alt"></i>Löschen
                </div>
                <div tabindex="6" class="iconButton" id="accept" (click)="acceptQuestion()">
                    <i class="fab fa-wpforms"></i>Frage & Antwort speichern
                </div>
            </div>
        </div>
    </div>
</div>

<div class="removeWhite"></div>