@media only screen and (max-width: 650px) {
    .modal-content {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    #delete {
        margin-top: 30px;
    }
    #accept {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
    .modal-content {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    #delete {
        margin-top: 30px;
    }
    #accept {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 850px) {
    .modal-content {
        height: 90%;
    }
    .iconButton {
        margin: 30px 10px;
    }
    .selectionWrapper {
        margin-left: -50px;
        margin-top: -80px;
    }
}

#accept {
    color: rgb(52, 199, 89) !important;
    border: 1px solid rgb(52, 199, 89);
}

#accept:hover,
#accept:focus {
    background: rgb(52, 199, 89);
    color: #fff !important;
}

#delete {
    color: rgb(255, 59, 48) !important;
    border: 1px solid rgb(255, 59, 48);
}

#delete:hover,
#delete:focus {
    background: rgb(255, 59, 48);
    color: #fff !important;
}

.Neu,
.Änderung,
.Feedback,
.Löschen {
    font-size: 0.8em;
    float: left;
    text-transform: capitalize;
    color: #fff;
    transform: scale(1.1);
}

.Neu::before {
    content: "Neu";
    background: rgb(52, 199, 89);
    border-radius: 20px;
    padding: 2px 10px;
}

.Änderung::before {
    content: "Änderung";
    background: rgb(255, 149, 0);
    border-radius: 20px;
    padding: 2px 10px;
}

.Feedback::before {
    content: "Feedback";
    background: rgb(0, 122, 255);
    border-radius: 20px;
    padding: 2px 10px;
}

.Löschen::before {
    content: "Löschen";
    background: rgb(255, 59, 48);
    border-radius: 20px;
    padding: 2px 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    z-index: 15000;
}

.modal-content {
    position: fixed;
    background-color: var(--paragraph);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-height: 100%;
    overflow-y: auto;
}

.close {
    width: 40px;
    height: 40px;
    right: 5px;
    top: 5px;
    border-radius: 40px;
    position: absolute;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    transition: 0.1s ease;
    cursor: pointer;
    opacity: 0.4;
}

.close:hover {
    opacity: 0.8;
}

.close::before,
.close::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    background: var(--font-color);
}

.close::before {
    transform: rotate(45deg) scale(0.7);
}

.close::after {
    transform: rotate(-45deg) scale(0.7);
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animatetop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

textarea {
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--input-border);
    background: var(--paragraph);
    padding: 5px 10px;
    width: 100%;
    color: var(--font-color);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-size: 1em;
    font-family: "SF Pro Display", sans-serif;
}

fieldset {
    border: 1px;
    box-sizing: border-box;
    border-color: #08f;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#sourceInput {
    position: relative;
}

#lectureInput {
    float: inline-end;
    z-index: 1;
}

#addButton {
    float: right;
    background: #fff;
    border-radius: 50px;
    outline: none;
    border: 1px solid #08f;
    padding: 5px 20px;
    color: #08f;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    font-weight: 600;
    position: absolute;
    right: 2.5cm;
    top: 7.5cm;
}

legend {
    color: #08f;
    border: solid 1px #08f;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8em;
    padding: 3px 15px;
}