.thatsMe {
  &::before {
    content: '';
    background: url('../../../assets/img/richie.jpg');
    background-size: contain;
    background-position: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 80px;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 849px) {
  .thatsMe {
    transform: translate(calc(50% - 30px), 10px);
  }
}

@media only screen and (min-width: 850px) {
  .thatsMe {
    right: 50%;
  }
}
