@import '../../scss/variables';

$inbetween: 650px;

@media only screen and (max-width: $inbetween) {
  .userCard {
    width: calc(100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right));
    height: calc(100% - 40px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    padding: calc(20px + 2 * env(safe-area-inset-top))
      calc(20px + 2 * env(safe-area-inset-right))
      calc(20px + 2 * env(safe-area-inset-bottom))
      calc(20px + 2 * env(safe-area-inset-left)) !important;

    i {
      font-size: 0px;
    }

    .information {
      grid-gap: 20px;
    }
    table {
      max-width: 100%;
    }
    .stats {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .stats {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: $inbetween) and (max-width: $mobile) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .userCard {
    width: calc(100% - 40px - env(safe-area-inset-left) - env(safe-area-inset-right));
    height: calc(100% - 40px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    padding: calc(20px + 2 * env(safe-area-inset-top))
      calc(20px + 2 * env(safe-area-inset-right))
      calc(20px + 2 * env(safe-area-inset-bottom))
      calc(20px + 2 * env(safe-area-inset-left)) !important;

    i {
      font-size: 0px;
    }
  }
  .information {
    grid-gap: 20px;
    margin: 0px calc(50% - 320px);
    grid-template-columns: 0px 1fr 120px;
  }
}

@media only screen and (min-width: $browser) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
  }
  .userCard {
    padding: 30px;
    min-width: 650px;

    i {
      font-size: 60px;
      left: 30%;
    }

    .information {
      grid-template-columns: 120px 1fr 120px;
      grid-gap: 20px;
    }
  }
}

.selectionWrapper {
  margin-top: -60px !important;
}

.stats {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  text-align: center;
  overflow-x: auto;
  [ng-reflect-router-link] {
    cursor: pointer;
  }
  * {
    display: inline-grid;
    width: 100%;
  }
}

.close {
  width: 40px;
  height: 40px;
  right: 5px;
  top: 5px;
  border-radius: 40px;
  position: absolute;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  transition: 0.1s ease;
  cursor: pointer;
  opacity: 0.4;
  &:hover {
    opacity: 0.8;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 40px;
    background: var(--font-color);
  }
  &::before {
    transform: rotate(45deg) scale(0.7);
  }
  &::after {
    transform: rotate(-45deg) scale(0.7);
  }
}

.overlay {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.userCard {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10001;
  background: var(--paragraph);
  overflow-x: auto;
  display: block;
  text-align: center;
  transform: translate(-50%, -50%);
  overflow-x: hidden;

  h2 {
    margin-top: 0;
  }
  .stats {
    margin-bottom: 0;
  }
  .information {
    display: grid;
  }

  .status {
    display: inline-grid;
    height: 100%;
    width: 100%;
    i {
      font-size: 30px;
      width: 100%;
      left: 50%;
      transform: translateX(-12px);
    }
  }
  .statusTitle {
    font-weight: 600;
    user-select: none;
  }
  .toggle {
    color: var(--font-color);
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.8px;
    user-select: none;
    opacity: 0.75;

    &:hover {
      color: #08f;
      opacity: 1;
    }
    &:active {
      filter: brightness(115%);
    }
  }

  i {
    opacity: 0.8;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr {
      height: 25px;
      &:not(:first-child) {
        border-top: 1px solid var(--input-border);
      }
    }
  }
}

.tablewrapper {
  table {
    tr {
      td {
        i {
          font-size: 24px;
          top: -13px;
          right: 5px;
        }
      }
    }
  }
}

.active {
  color: rgb(52, 199, 89);
}
.disabled {
  color: rgb(255, 59, 48);
}

richie-iconbutton {
  margin-top: 10px;
  font-size: 12px !important;
}
