td {
  height: 30px;
  padding: 10px;
  line-height: 30px;
  text-overflow: ellipsis;
}

tr:hover a {
  color: #08f;
}

a {
  color: #ccc;
}
a:active {
  filter: brightness(110%);
}

img {
  height: 40px;
  margin: -5px;
  background: #eee;
  border-radius: 20px;
  user-select: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.trtitle {
  font-weight: 600;
  white-space: nowrap;
}
.trdescription {
  white-space: nowrap;
}

.trmember {
  opacity: 0.75;
  white-space: nowrap;
}
