td {
  height: 30px;
  padding: 10px;
  line-height: 30px;
  text-overflow: ellipsis;
}

tr:hover #join {
  color: #08f;
}

img {
  height: 100%;
  margin-bottom: -10px;
  background: #eee;
  border-radius: 20px;
  user-select: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.trtitle {
  font-weight: 600;
  white-space: nowrap;
}
.trdescription {
  white-space: nowrap;
}

.trmember {
  opacity: 0.75;
  white-space: nowrap;
  text-align: right;
}
