<div class="landing">
  <h1>Telegram-Gruppen</h1>
  <h2>Hilf anderen</h2>
</div>

<div class="paragraph">
  <h2>
    Bekannte Gruppen
    <a class="startChatting startChattingRight" [href]="globals.botURL"
      ><i class="fab fa-telegram-plane"></i>Mit Richie Chatten</a
    >
  </h2>
  <div class="tablewrapper">
    <table>
      <tr
        *ngFor="let channel of telegramChannels"
        (click)="openURL(channel.url)"
        title="Gruppe beitreten"
      >
        <td><img src="{{ channel.img }}" /></td>
        <td class="trtitle">{{ channel.title }}</td>
        <td class="trmember">
          {{ channel.member }} <i class="fas fa-user-friends"></i>
        </td>
        <td class="trdescription">{{ channel.description }}</td>
        <td>
          <a><i class="fa fa-sign-in"></i></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="removeWhite"></div>
