.signInWiths {
  display: block;
  width: 100%;

  .signInWith {
    display: inline-block;
    width: 200px;
    margin: 0px 5px 10px 5px;
    transition: 0.2s ease;
    border: 1px solid transparent;

    img {
      border-radius: 20px;
      width: 100%;
      &:hover {
        cursor: pointer;
        border: 1px solid var(--input-border);
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

// neu

// .searchLanding {
//   min-height: 100vh;
//   transition: 0s !important;
// }

// .landingFullWrapper {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate3d(-50%,-50%,0);
//   background: var(--header);
//   color: var(--font-color);
//   backdrop-filter: blur(7px);

//   h1 {
//     margin: 0;
//     margin-bottom: 10px;
//   }
//   li {
//     font-size: 1.2em;
//     font-weight: 500;
//   }
//   ul {
//     margin: 0;
//     margin-right: 5px;
//   }
// }

// .wrapper {
//   margin-left: 25px;
//   display: grid;
//   grid-template-columns: 1fr 500px;
//   grid-template-rows: 1fr;

//   .loginForm {
//     background: #fff;
//     display: inline-grid;
//     height: 100vh;
//   }

//   .slideShow {
//     .sliderElement {
//       position: absolute;
//       background-image: url('../../assets/img/landing_light@2k.jpg');
//       height: 100vh;
//       width: 100%;
//       background-size: cover;
//       background-position: center;
//       top: 50%;
//       transform: translateY(-50%);
//       max-width: calc(100% - 630px);
//       padding: 40px;
//       animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
//       .title {
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         font-weight: 800;
//         font-size: 2.5em;
//         animation: slider-anim 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
//       }
//       .description {
//         position: absolute;
//         top: 50%;

//         transform: translateY(50%);
//         font-weight: 650;
//         font-size: 1.6em;
//         max-width: 70%;
//       }
//     }
//   }
// }

@keyframes slider-anim {
  0% {
    top: 110vh;
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }
  10% {
    top: 50%;
    opacity: 0.7;
    transform: scale(0.5) translateY(-50%);
  }
  15%,
  85% {
    top: 50%;
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
  90% {
    top: -50%;
    opacity: 0.7;
    transform: scale(0.5) translateY(-50%);
  }
  100% {
    top: -110vh;
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }
}

@media only screen and (min-width: 850px) {
  .wrapper {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 849px) {
  .wrapper {
    margin-left: 0px;
  }
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(100px, max-content) 1fr;
  grid-gap: 0;
}

@keyframes zoom-bg {
  0%,
  20%,
  80%,
  100% {
    top: -100px;
    left: -100px;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
  }
  30%,
  70% {
    top: 0px;
    left: 0px;
    width: calc(100%);
    height: calc(100%);
  }
}
@keyframes move-bg {
  0% {
    width: 50%;
    height: 50%;
    transform: translate3d(-50%, 200vh, 0px);
  }
  100% {
    width: 50%;
    height: 50%;
    transform: translate3d(-50%, -200vh, 0px);
  }
  20%,
  80% {
    width: 50%;
    height: 50%;
    transform: translate3d(-50%, -50%, 0px);
  }
  30%,
  70% {
    width: 100%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0px);
  }
}

@keyframes move-txt {
  0% {
    transform: translateY(100vh);
  }
  10%,
  80% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.slider {
  display: inline-grid;
}

@media only screen and (max-width: 849px) {
  .slide {
    .title {
      margin: 0px 20px;
    }
  }
}
@media only screen and (min-width: 850px) {
  .slide {
    .title {
      margin: 0px 100px;
    }
  }
}

.slide {
  overflow: hidden;
  position: relative;

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    z-index: -1;
    animation: move-bg 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;

    &::after {
      content: '';
      position: absolute;
      overflow: hidden;
      background: inherit;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      animation: zoom-bg 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
    }
  }
  .title {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    animation: move-txt 5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
    user-select: none;
    h1 {
      font-size: 3em;
      font-weight: 900;
      margin: 0;
    }
    h2 {
      margin: 0;
      margin-top: 10px;
      font-size: 1.3em;
      font-weight: 500;
    }
    h1,
    h2 {
      color: #fff;
      text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.8);
    }
  }
}

.blurBackground {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    top: -25px;
    left: -25px;
    overflow: hidden;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    background: var(--landing-bg);
    background-position: center;
    background-size: cover;
    filter: blur(17px);
    overflow: hidden;
  }
}

.loginArea {
  display: inline-grid;
  position: relative;
  padding: 0px 20px;
  padding-top: 50px;
  overflow: hidden;
  min-height: 130px;
  color: #fff;
  h2 {
    opacity: 0.8;
    text-align: center;
  }
}

@media only screen and (max-width: 523px) {
  .loginService {
    display: block;
  }
}
@media only screen and (min-width: 524px) {
  .loginService {
    display: inline-block;
    min-width: 200px;
  }
}

.loginServices {
  display: block;
  text-align: center;
  .loginService {
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 10px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;

    i {
      font-size: 18px;
      margin-right: 10px;
    }
    .serviceName {
      display: inline-block;
      opacity: 0.8;
      font-weight: 600;
      font-size: 16px;
      margin-right: 5px;
      &:before {
        content: 'Sign in with ';
      }
    }
    &:hover {
      filter: brightness(110%);
      background: #fff;
      color: #222;
      .serviceName {
        opacity: 1;
      }
    }
  }
}
