@charset "UTF-8";
@import url("../fonts/fontfaces.css");
@import url("../fontawesome/css/all.min.css");
html,
body {
  margin: 0;
  background: var(--background);
  font-family: 'SF Pro Display', sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
  max-width: 100%;
}

body {
  min-height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

@media only screen and (min-width: 850px) {
  body {
    padding-left: 25px;
  }
}

p {
  text-align: justify;
  white-space: pre-line;
}

a {
  color: #08f;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

a:not([routerLink]):hover {
  -webkit-box-shadow: inset 0px -1px #08f;
          box-shadow: inset 0px -1px #08f;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#08f), to(#34e985));
  background-image: linear-gradient(to bottom right, #08f, #34e985);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.removeWhite {
  height: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: var(--background);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-nograb);
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0.7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-grab);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.splitter {
  margin: 30px 0px;
  height: 1px;
  width: 100%;
  background: #bbb;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .hotlinks {
  position: absolute;
  margin: 5px;
  width: 210px;
  bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

nav .hotlinks a {
  display: -ms-inline-grid;
  display: inline-grid;
  font-size: 0.8em;
  font-weight: 400;
  color: #ccc;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .hotlinks a:not(:first-child) {
  border-left: 1px solid #ccc;
}

nav .hotlinks a:hover {
  color: #fff;
}

nav .title {
  display: block;
  font-weight: 700;
  width: 100%;
  text-align: center;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 50px;
}

@media only screen and (min-width: 850px) {
  nav {
    width: 220px;
    height: 100%;
    max-width: 50px;
    overflow: hidden;
    z-index: 10000;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background-image: linear-gradient(126deg, rgba(101, 101, 101, 0.09) 0%, rgba(101, 101, 101, 0.09) 68%, rgba(200, 200, 200, 0.09) 68%, rgba(200, 200, 200, 0.09) 100%), linear-gradient(164deg, rgba(238, 238, 238, 0.03) 0%, rgba(238, 238, 238, 0.03) 90%, rgba(14, 14, 14, 0.03) 90%, rgba(14, 14, 14, 0.03) 100%), linear-gradient(27deg, rgba(214, 214, 214, 0.04) 0%, rgba(214, 214, 214, 0.04) 34%, rgba(104, 104, 104, 0.04) 34%, rgba(104, 104, 104, 0.04) 100%), linear-gradient(175deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 4%, rgba(9, 9, 9, 0.01) 4%, rgba(9, 9, 9, 0.01) 100%), linear-gradient(257deg, rgba(14, 14, 14, 0.01) 0%, rgba(14, 14, 14, 0.01) 28%, rgba(164, 164, 164, 0.01) 28%, rgba(164, 164, 164, 0.01) 100%), linear-gradient(311deg, rgba(68, 68, 68, 0.07) 0%, rgba(68, 68, 68, 0.07) 33%, rgba(213, 213, 213, 0.07) 33%, rgba(213, 213, 213, 0.07) 100%), linear-gradient(244deg, rgba(43, 43, 43, 0.02) 0%, rgba(43, 43, 43, 0.02) 80%, rgba(161, 161, 161, 0.02) 80%, rgba(161, 161, 161, 0.02) 100%), linear-gradient(130deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 49%, rgba(105, 105, 105, 0.04) 49%, rgba(105, 105, 105, 0.04) 100%), linear-gradient(90deg, #000, #000);
    -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  }
  nav .divider {
    margin: 20px 10px;
    height: 1px;
    background: #888;
  }
  nav .hotlinks {
    max-width: 0;
    opacity: 0;
  }
  nav:active, nav:hover {
    max-width: 220px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  nav:active .title::before, nav:hover .title::before {
    content: 'DHBW Richie';
  }
  nav:active .routes a, nav:hover .routes a {
    -ms-grid-columns: 35px 1fr 40px;
        grid-template-columns: 35px 1fr 40px;
  }
  nav:active .hotlinks, nav:hover .hotlinks {
    max-width: 100%;
    opacity: 1;
  }
  nav .routes a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35px 1fr 40px;
        grid-template-columns: 35px 1fr 40px;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    color: #ddd;
    width: calc(100% - 30px);
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  nav .routes a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  nav .routes a .name {
    display: -ms-inline-grid;
    display: inline-grid;
    overflow: hidden;
  }
  nav .routes a i {
    display: -ms-inline-grid;
    display: inline-grid;
    font-size: 20px;
    line-height: 40px;
    overflow: hidden;
  }
  nav .routes a .type {
    display: -ms-inline-grid;
    display: inline-grid;
    color: #3d404a;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 0px 10px;
    height: 18px;
    margin-top: 11px;
    line-height: 18px;
    font-size: 0.8em;
    text-transform: capitalize;
  }
  nav .routes .active {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#08f), to(#4ea7f5));
    background-image: linear-gradient(to right, #08f, #4ea7f5);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  nav .routes .active:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#08f), to(#4ea7f5)) !important;
    background-image: linear-gradient(to right, #08f, #4ea7f5) !important;
  }
  nav .toggleButton {
    display: none;
  }
  nav .title {
    font-weight: 700;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#08f), to(#34e985));
    background-image: linear-gradient(to bottom right, #08f, #34e985);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav .title:before {
    content: 'RW';
  }
  nav .navwrapper {
    display: block;
    z-index: 1;
  }
  nav .richie {
    display: none;
  }
  nav .hotlinks {
    width: 210px;
  }
  nav .hotlinks a {
    font-size: 0.8em;
  }
  nav .routes a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 849px) {
  nav {
    height: 50px;
    width: 50px;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
  }
  nav .routes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 50px;
  }
  nav .routes .divider {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    height: 1px;
    background: #888;
  }
  nav .routes a {
    display: -ms-inline-grid;
    display: inline-grid;
    color: #ddd;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-align: center;
  }
  nav .routes a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  nav .routes a .name {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  nav .routes a i {
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 500px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  nav .routes a .type {
    display: inline-block;
    color: #3d404a;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 0px 10px;
    height: 18px;
    margin-top: 11px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    line-height: 18px;
    font-size: 0.8em;
    max-width: 2em;
    text-transform: capitalize;
  }
  nav .routes .active {
    color: #08f;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  nav .routes .active i {
    border-color: #08f;
  }
  nav .title::before {
    content: 'DHBW Richie';
  }
  nav .richie {
    position: fixed;
    left: calc(env(safe-area-inset-left) + 50px);
    top: 0px;
    height: 50px;
    line-height: 50px;
    width: 200px;
    font-weight: 600;
    z-index: 500;
    cursor: pointer;
  }
  nav .toggleButton {
    position: fixed;
    display: block;
    color: #fff;
    top: 0;
    left: env(safe-area-inset-left);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    z-index: 6010;
    cursor: pointer;
  }
  nav .navwrapper {
    display: block;
    position: fixed;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    overflow: hidden;
    width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    height: 0%;
    background: #000;
    z-index: 600;
    overflow-y: auto;
  }
  nav .hotlinks {
    width: 100%;
    position: initial;
  }
  nav .hotlinks a {
    font-size: 1em;
  }
  nav .hotlinks a:hover {
    color: #fff;
  }
  nav .routes a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 19;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 50px;
  padding: 0px 10px;
  background: var(--header);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  text-align: right;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ddd;
}

header * {
  outline: none;
  cursor: pointer;
}

header * * {
  outline: none;
  cursor: pointer;
}

header .registerLogin {
  margin-right: env(safe-area-inset-right);
}

header .registerLogin * {
  display: inline-block;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .registerLogin i {
  margin-left: 10px;
}

header .registerLogin .signIn {
  line-height: 30px;
  height: 30px;
  margin: 10px 0px;
  padding: 0px 15px;
  border: 1px solid var(--input-border);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

header .registerLogin .signIn:hover {
  color: #fff;
  border-color: #fff;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .user .name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
}

header .user img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 36px;
  max-height: 36px;
  border-radius: 50px;
  margin-right: env(safe-area-inset-right);
}

@media only screen and (min-width: 850px) {
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 60px) !important;
  }
}

@media only screen and (max-width: 849px) {
  .landing h1 {
    word-wrap: break-word;
  }
  .landing {
    padding-left: calc(env(safe-area-inset-left) + 10px) !important;
  }
}

.landing {
  text-align: center;
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  padding: 100px 10px;
  min-height: 50px;
  margin-bottom: -50px;
  margin-left: calc(-1 * env(safe-area-inset-left));
  margin-right: calc(-1 * env(safe-area-inset-right));
  padding-right: calc(env(safe-area-inset-right) + 10px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.landing h1,
.landing h2 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.landing h1 {
  font-weight: 700;
  text-shadow: 1px 1px 10px #444;
}

.landing h2 {
  font-weight: 650;
  color: #eee;
}

.landing h2:before, .landing h2:after {
  content: '\23AF';
  padding: 0 10px;
}

@media only screen and (min-width: 850px) {
  .paragraph {
    margin: 20px 60px;
    margin-bottom: 40px;
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 849px) {
  .paragraph {
    margin: 20px 10px;
    padding: 1px 20px;
  }
  .paragraph h1 {
    margin: 0px;
    margin-top: 20px;
  }
}

.paragraph {
  background: var(--paragraph);
  border-radius: 5px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.09);
}

.paragraph h3 {
  opacity: 0.8;
}

.paragraph .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
  margin: 30px 0px 10px 0px;
}

.paragraph .media i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 30px;
  opacity: 0.75;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.paragraph .media i:not(:hover) {
  color: var(--font-color) !important;
}

.paragraph .media i:hover {
  opacity: 1;
}

.iconButton {
  z-index: 1;
  background: transparent;
  position: relative;
  color: #08f;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #08f;
  text-decoration: none;
  padding: 5px 20px;
  padding-left: 10px;
  border-radius: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.iconButton i {
  margin-right: 8px;
  font-weight: 400;
}

.iconButton::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #08f;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

.iconButton:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.iconButton:hover {
  color: #fff;
}

.iconButton:hover::before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.iconButton:focus {
  outline: none;
}

@media only screen and (max-width: 849px) {
  .tablewrapper table td {
    height: 20px;
    padding: 10px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 850px) {
  .tablewrapper table td {
    height: 30px;
    padding: 10px;
    line-height: 30px;
  }
}

.tablewrapper {
  width: 100%;
  overflow-x: auto;
}

.tablewrapper table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.tablewrapper table tr {
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tablewrapper table tr:hover {
  background: var(--background);
}

.tablewrapper table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.tablewrapper table tr td {
  text-overflow: ellipsis;
  color: var(--font-color);
}

.container {
  opacity: 1;
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selection {
  z-index: 1000019;
  text-align: left;
}

.selection .selected::after {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: none;
}

.selection .selected i {
  padding-left: 5px;
  font-size: 0.8em;
  color: #08f;
}

.selection .items {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  position: absolute;
  padding-left: 160px;
  margin-top: -120px;
  font-size: 1.3em;
}

.selection .items .wrapper {
  overflow-y: auto;
  max-height: 200px;
}

.selection .items .container {
  background: rgba(var(--popupBackground), 0.75);
  -webkit-box-shadow: 2px 4px 10px var(--popupShadow);
          box-shadow: 2px 4px 10px var(--popupShadow);
  -webkit-backdrop-filter: blur(7px) !important;
          backdrop-filter: blur(7px) !important;
  border-radius: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 0px;
  opacity: 0.7;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.selection .items .container::before {
  content: 'Gruppe wählen\00a0\00a0\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF';
  font-weight: 600;
  display: block;
  opacity: 0.9;
  font-size: 0.9em;
  padding: 10px;
  word-wrap: none;
}

.selection .items .container .item {
  font-size: 0.9em;
  padding: 5px 0px;
  padding-left: 10px;
  margin: 1px 0px;
  display: list-item;
  list-style: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(transparent, transparent);
  cursor: pointer;
}

.selection .items .container .item:before {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: none;
}

.selection .items .container .item i {
  color: #08f;
  font-size: 0.8em;
  padding-right: 10px;
}

.selection .items .container .item:hover, .selection .items .container .item:focus {
  color: #fff;
  opacity: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-image: -webkit-gradient(linear, left top, right top, from(#08f), to(#4ea7f5));
  background-image: linear-gradient(to right, #08f, #4ea7f5);
}

.selection .items .container .item:hover i, .selection .items .container .item:focus i {
  color: #fff;
}

.selectionWrapper {
  display: block;
  position: absolute;
  font-size: 1.3em;
  background: var(--popupBackground);
  -webkit-box-shadow: 2px 4px 10px var(--popupShadow);
          box-shadow: 2px 4px 10px var(--popupShadow);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  max-width: 0px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.selectionWrapper .selection {
  overflow-y: auto;
  max-height: 200px;
  min-width: 200px;
}

.selectionWrapper .selection::before {
  content: attr(sTitle);
  font-weight: 600;
  display: block;
  opacity: 0.9;
  line-height: 35px;
  font-size: 0.9em;
  padding: 0px 10px;
  word-wrap: none;
}

.selectionWrapper .selection .item {
  font-size: 0.9em;
  padding: 5px 10px;
  margin: 1px 0px;
  display: list-item;
  list-style: none;
  background: transparent;
  opacity: 0.7;
  cursor: pointer;
}

.selectionWrapper .selection .item:before {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: none;
}

.selectionWrapper .selection .item i {
  color: var(--font-color);
  font-size: 0.8em;
  padding-right: 10px;
  opacity: 0.4;
}

.selectionWrapper .selection .item:hover, .selectionWrapper .selection .item:focus {
  color: #fff;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, from(#08f), to(#4ea7f5));
  background: linear-gradient(to right, #08f, #4ea7f5);
}

.selectionWrapper .selection .item:hover i, .selectionWrapper .selection .item:focus i {
  color: #fff;
}

.loaderWrapper {
  display: block;
  height: 2px;
  margin-bottom: 10px;
}

.loader {
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.loader div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #08f;
  -webkit-animation: go 0.8s infinite alternate ease;
          animation: go 0.8s infinite alternate ease;
  -webkit-box-shadow: 0 0 20px #08f;
          box-shadow: 0 0 20px #08f;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: -0.76s;
          animation-delay: -0.76s;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: -0.68s;
          animation-delay: -0.68s;
}

.loader div:nth-child(4) {
  -webkit-animation-delay: -0.64s;
          animation-delay: -0.64s;
}

.loader div:nth-child(5) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.loader div:nth-child(6) {
  -webkit-animation-delay: -0.56s;
          animation-delay: -0.56s;
}

.loader div:nth-child(7) {
  -webkit-animation-delay: -0.52s;
          animation-delay: -0.52s;
}

.loader div:nth-child(8) {
  -webkit-animation-delay: -0.48s;
          animation-delay: -0.48s;
}

.loader div:nth-child(9) {
  -webkit-animation-delay: -0.44s;
          animation-delay: -0.44s;
}

.loader div:nth-child(10) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.loader div:nth-child(11) {
  -webkit-animation-delay: -0.36s;
          animation-delay: -0.36s;
}

.loader div:nth-child(12) {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.loader div:nth-child(13) {
  -webkit-animation-delay: -0.28s;
          animation-delay: -0.28s;
}

.loader div:nth-child(14) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.loader div:nth-child(15) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.loader div:nth-child(16) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader div:nth-child(17) {
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.loader div:nth-child(18) {
  -webkit-animation-delay: -0.08s;
          animation-delay: -0.08s;
}

.loader div:nth-child(19) {
  -webkit-animation-delay: -0.04s;
          animation-delay: -0.04s;
}

.loader div:nth-child(20) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

.showSelect {
  -webkit-animation: showSelect 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: showSelect 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes showSelect {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    max-width: 0px;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    max-width: unset;
  }
}

@keyframes showSelect {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    max-width: 0px;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    max-width: unset;
  }
}

.hideSelect {
  -webkit-animation: hideSelect 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: hideSelect 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes hideSelect {
  0% {
    opacity: 1;
    max-width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    max-width: 0px;
  }
}

@keyframes hideSelect {
  0% {
    opacity: 1;
    max-width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    max-width: 0px;
  }
}

.iconButtonHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
}

.input label {
  position: absolute;
  margin-top: -45px;
  color: var(--font-color);
  padding-left: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 0.8em;
  opacity: 0.6;
  font-weight: 500;
  pointer-events: none;
}

.input input {
  width: 100%;
  margin-top: 20px;
  color: var(--font-color);
  opacity: 0.8;
  padding: 5px 10px;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid var(--input-border);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.input input:hover {
  opacity: 1;
  background: var(--background);
}

.input input:valid {
  border-color: #08f;
}

.input input:invalid ~ label {
  margin-top: -25px !important;
  opacity: 0.8;
  font-size: 1em;
}
/*# sourceMappingURL=styles.css.map */