@import url("../fonts/fontfaces.css");
html,
body {
  margin: 0;
  background: #eee;
  font-family: "SF Pro Display", sans-serif;
  color: #333;
}

body {
  padding-left: 220px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 220px;
  background: #3d404a;
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  display: block;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .title {
  display: inline-block;
  font-weight: 700;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

nav .hotlinks {
  position: absolute;
  margin: 5px;
  width: 210px;
  bottom: 0;
}

nav .hotlinks a {
  font-size: 0.8em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  margin: 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .hotlinks a:hover {
  -webkit-box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
          box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
}

nav .routes a {
  display: inline-block;
  color: #ddd;
  width: calc(100% - 30px);
  padding: 10px 15px;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .routes a:hover {
  background: rgba(0, 0, 0, 0.1);
}

nav .routes a svg {
  margin-right: 10px;
}

nav .routes a .type {
  color: #3d404a;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 0.8em;
  float: right;
  text-transform: capitalize;
}

nav .routes .active {
  color: #fff;
  background: #08f;
}

nav .routes .active:hover {
  background: #08f !important;
}

header {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  text-align: right;
}

header .user {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .user .name {
  display: inline-block;
}

header .user .icon {
  display: inline-block;
  background: #bbb;
  margin: 10px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
}

.landing {
  background: url("../img/landing.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  padding-top: 100px;
  min-height: 180px;
}

.landing h1,
.landing h2 {
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

.landing h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.landing h2:before, .landing h2:after {
  content: "\23AF";
  padding: 0 10px;
}

.paragraph {
  border-radius: 5px;
  margin: 0px 30px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
  margin-top: -30px;
}
/*# sourceMappingURL=styles.css.map */