@import url("../fonts/fontfaces.css");

html,
body {
  margin: 0;
  background: #eee;
  font-family: "SF Pro Display", sans-serif;
  color: #333;
}
body {
  padding-left: 220px;
}

a {
  color: #08f;
  text-decoration: none;
  transition: 0.2s ease;
  &:not([routerLink]):hover {
    box-shadow: inset 0px -1px #08f;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute !important;
  border-radius: 4px;
  transition: 0.2s ease;
}

::-webkit-scrollbar:hover {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
  transition: 0.2s ease;
  &:hover {
    background: #888;
    transition: 0.2s ease;
    cursor: grabbing;
  }
}

.splitter {
  margin: 30px 0px;
  height: 1px;
  width: 100%;
  background: #bbb;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 220px;

  background-image: linear-gradient(
      102deg,
      rgba(249, 249, 249, 0.1) 0%,
      rgba(249, 249, 249, 0.1) 14%,
      rgba(161, 161, 161, 0.1) 14%,
      rgba(161, 161, 161, 0.1) 100%
    ),
    linear-gradient(
      310deg,
      rgba(26, 26, 26, 0.03) 0%,
      rgba(26, 26, 26, 0.03) 71%,
      rgba(189, 189, 189, 0.03) 71%,
      rgba(189, 189, 189, 0.03) 100%
    ),
    linear-gradient(
      133deg,
      rgba(132, 132, 132, 0.1) 0%,
      rgba(132, 132, 132, 0.1) 8%,
      rgba(95, 95, 95, 0.1) 8%,
      rgba(95, 95, 95, 0.1) 100%
    ),
    linear-gradient(
      142deg,
      rgba(110, 110, 110, 0.03) 0%,
      rgba(110, 110, 110, 0.03) 46%,
      rgba(8, 8, 8, 0.03) 46%,
      rgba(8, 8, 8, 0.03) 100%
    ),
    linear-gradient(
      346deg,
      rgba(231, 231, 231, 0.05) 0%,
      rgba(231, 231, 231, 0.05) 6%,
      rgba(71, 71, 71, 0.05) 6%,
      rgba(71, 71, 71, 0.05) 100%
    ),
    linear-gradient(
      118deg,
      rgba(251, 251, 251, 0.07) 0%,
      rgba(251, 251, 251, 0.07) 72%,
      rgba(24, 24, 24, 0.07) 72%,
      rgba(24, 24, 24, 0.07) 100%
    ),
    linear-gradient(
      338deg,
      rgba(75, 75, 75, 0.08) 0%,
      rgba(75, 75, 75, 0.08) 37%,
      rgba(213, 213, 213, 0.08) 37%,
      rgba(213, 213, 213, 0.08) 100%
    ),
    linear-gradient(90deg, #202020, #111);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  display: block;
  color: #fff;
  user-select: none;

  .title {
    display: inline-block;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    filter: brightness(110%);
    letter-spacing: 1px;
  }

  .hotlinks {
    position: absolute;
    margin: 5px;
    width: 210px;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    a {
      display: inline-grid;
      font-size: 0.8em;
      font-weight: 400;
      color: #ccc;
      text-decoration: none;
      transition: 0.2s ease;
      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .routes {
    a {
      display: inline-block;
      color: #ddd;
      width: calc(100% - 30px);
      padding: 10px 15px;
      height: 20px;
      line-height: 20px;
      font-weight: 500;
      text-decoration: none;
      transition: 0.2s ease;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      svg {
        margin-right: 10px;
      }

      .type {
        color: #3d404a;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 10px;
        padding: 0px 10px;
        font-size: 0.8em;
        float: right;
        text-transform: capitalize;
      }
    }
    .active {
      color: #fff;
      background: #08f;
      transition: 0.6s ease;
      &:hover {
        background: #08f !important;
      }
    }
  }
}

header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 19;

  height: 50px;
  padding: 0px 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  text-align: right;

  line-height: 50px;
  user-select: none;
  color: #ddd;

  * {
    display: inline-block;
    outline: none;
    * {
      display: inline-block;
      outline: none;
      cursor: pointer;
      transition: 0.2s ease;
    }
  }

  .registerLogin {
    margin-right: 20px;
    svg {
      margin-left: 5px;
    }
    .signIn {
      line-height: 20px;
      height: 20px;
      margin: 15px 0px;
      &:hover {
        color: #fff;
        box-shadow: inset 0px -1px #fff;
      }
    }
    .register {
      line-height: 30px;
      height: 30px;
      margin: 10px 0px;
      margin-right: 20px;
      padding: 0px 15px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  .user {
    cursor: pointer;

    .icon {
      background: #bbb;
      margin: 10px;
      line-height: 30px;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 15px;
      color: #fff;
      font-weight: 600;
    }
  }
}

.landing {
  text-align: center;
  background: url("../img/landing.jpg");
  background-size: cover;
  background-position-y: bottom;
  padding: 100px 0px;
  min-height: 50px;
  margin: -50px 0px;
  user-select: none;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  h1 {
    font-weight: 700;
    text-shadow: 1px 1px 10px #444;
  }
  h2 {
    font-weight: 650;
    color: #eee;

    &:before,
    &:after {
      content: "\23AF";
      padding: 0 10px;
    }
  }
}

.paragraph {
  background: linear-gradient(to bottom right, #fff, #fdfdfd);
  padding: 10px 50px;
  margin: 20px 60px;
  border-radius: 5px;
  transition: 1s ease;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
}

form {
  margin-left: 20px;
  margin-bottom: 60px;
  max-width: 500px;
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    margin-bottom: 5px;

    input {
      border-radius: 5px;
      outline: none;
      border: 1px solid #eee;
      padding: 5px;
      width: 100%;
    }
    label {
      color: #666;
    }
  }
  button {
    float: right;
    background: #fff;
    border-radius: 50px;
    outline: none;
    border: 1px solid #08f;
    padding: 5px 20px;
    color: #08f;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 600;
    &:hover {
      background: #08f;
      color: #fff;
    }
    &:active {
      filter: brightness(115%);
    }
  }
}

.startChatting {
  display: inline-block;
  color: #08f !important;
  font-size: 16px;
  background: #fff;
  border: 1px solid #08f;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 5px 20px;
  padding-left: 10px;
  border-radius: 40px;
  margin-bottom: 15px;
  user-select: none;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }

  &:hover {
    background: #08f;
    color: #fff !important;
  }
  &:active {
    filter: brightness(115%);
  }
}

.tablewrapper {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;

    tr {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: #eee;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      td {
        height: 30px;
        padding: 10px;
        line-height: 30px;
        text-overflow: ellipsis;
      }
    }
  }
}
