@import url("../fonts/fontfaces.css");
@import url("../fontawesome/css/all.min.css");

$phoneMax: 850px;
$phoneMax-1: 849px;

html,
body {
  margin: 0;
  background: var(--background);
  font-family: "SF Pro Display", sans-serif;
  color: var(--font-color);
}
body {
  min-height: 100%;
}
@media only screen and (min-width: $phoneMax) {
  body {
    padding-left: 25px;
  }
}

p {
  text-align: justify;
}

a {
  color: #08f;
  text-decoration: none;
  transition: 0.2s ease;
  &:not([routerLink]):hover {
    box-shadow: inset 0px -1px #08f;
  }
}

.gradient {
  background-image: linear-gradient(to bottom right, #08f, #34e985);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.removeWhite {
  height: 1px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  transition: 0.2s ease;
  background: var(--background);
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-nograb);
  border-radius: 4px;
  transition: 0.2s ease;
  opacity: 0.7;
  &:hover {
    background: var(--scrollbar-thumb-grab);
    cursor: grabbing;
  }
}

.splitter {
  margin: 30px 0px;
  height: 1px;
  width: 100%;
  background: #bbb;
}

nav {
  position: fixed;
  left: 0;
  top: 0;

  display: block;
  color: #fff;
  user-select: none;

  .title {
    display: inline-block;
    font-weight: 700;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    filter: brightness(110%);
    letter-spacing: 1px;
  }

  .hotlinks {
    position: absolute;
    margin: 5px;
    width: 210px;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    a {
      display: inline-grid;
      font-size: 0.8em;
      font-weight: 400;
      color: #ccc;
      text-decoration: none;
      transition: 0.2s ease;
      &:not(:first-child) {
        border-left: 1px solid #ccc;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .routes {
    a {
      display: grid;
      grid-template-columns: 35px 1fr 40px;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      color: #ddd;
      width: calc(100% - 30px);
      font-weight: 500;
      text-decoration: none;
      transition: 0.2s ease;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      .name {
        display: inline-grid;
        overflow: hidden;
      }

      i {
        display: inline-grid;
        font-size: 20px;
        line-height: 40px;
        overflow: hidden;
      }

      .type {
        display: inline-grid;
        color: #3d404a;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 10px;
        padding: 0px 10px;
        height: 18px;
        margin-top: 11px;
        line-height: 18px;
        font-size: 0.8em;
        text-transform: capitalize;
      }
    }
    .active {
      color: #fff;
      background-image: linear-gradient(to right, #08f, rgb(78, 167, 245));
      transition: 0.6s ease;
      &:hover {
        background-image: linear-gradient(
          to right,
          #08f,
          rgb(78, 167, 245)
        ) !important;
      }
    }
  }
}

@media only screen and (min-width: $phoneMax) {
  nav {
    width: 220px;
    height: 100%;

    max-width: 50px;
    overflow: hidden;
    z-index: 10000;
    transition: 0.5s ease;

    .hotlinks {
      max-width: 0;
      opacity: 0;
    }
    &:hover {
      max-width: 220px;
      transition: 0.5s ease;
      .title::before {
        content: "DHBW Richie";
      }
      .routes a {
        grid-template-columns: 35px 1fr 40px;
      }
      .hotlinks {
        max-width: 100%;
        opacity: 1;
      }
    }
    .toggleButton {
      display: none;
    }

    .title {
      font-weight: 700;
      background-image: linear-gradient(to bottom right, #08f, #34e985);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &:before {
        content: "RW";
      }
    }

    .navwrapper {
      display: block;
      z-index: 1;
    }

    .richie {
      display: none;
    }

    background-image: linear-gradient(
        126deg,
        rgba(101, 101, 101, 0.09) 0%,
        rgba(101, 101, 101, 0.09) 68%,
        rgba(200, 200, 200, 0.09) 68%,
        rgba(200, 200, 200, 0.09) 100%
      ),
      linear-gradient(
        164deg,
        rgba(238, 238, 238, 0.03) 0%,
        rgba(238, 238, 238, 0.03) 90%,
        rgba(14, 14, 14, 0.03) 90%,
        rgba(14, 14, 14, 0.03) 100%
      ),
      linear-gradient(
        27deg,
        rgba(214, 214, 214, 0.04) 0%,
        rgba(214, 214, 214, 0.04) 34%,
        rgba(104, 104, 104, 0.04) 34%,
        rgba(104, 104, 104, 0.04) 100%
      ),
      linear-gradient(
        175deg,
        rgba(20, 20, 20, 0.01) 0%,
        rgba(20, 20, 20, 0.01) 4%,
        rgba(9, 9, 9, 0.01) 4%,
        rgba(9, 9, 9, 0.01) 100%
      ),
      linear-gradient(
        257deg,
        rgba(14, 14, 14, 0.01) 0%,
        rgba(14, 14, 14, 0.01) 28%,
        rgba(164, 164, 164, 0.01) 28%,
        rgba(164, 164, 164, 0.01) 100%
      ),
      linear-gradient(
        311deg,
        rgba(68, 68, 68, 0.07) 0%,
        rgba(68, 68, 68, 0.07) 33%,
        rgba(213, 213, 213, 0.07) 33%,
        rgba(213, 213, 213, 0.07) 100%
      ),
      linear-gradient(
        244deg,
        rgba(43, 43, 43, 0.02) 0%,
        rgba(43, 43, 43, 0.02) 80%,
        rgba(161, 161, 161, 0.02) 80%,
        rgba(161, 161, 161, 0.02) 100%
      ),
      linear-gradient(
        130deg,
        rgba(255, 255, 255, 0.04) 0%,
        rgba(255, 255, 255, 0.04) 49%,
        rgba(105, 105, 105, 0.04) 49%,
        rgba(105, 105, 105, 0.04) 100%
      ),
      linear-gradient(90deg, #000, #000);

    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);

    .hotlinks {
      width: 210px;
      a {
        font-size: 0.8em;
      }
    }

    .routes a:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-height: 330px) {
  nav {
    .hotlinks {
      position: initial;
    }
  }
}

// Phones
@media only screen and (max-width: $phoneMax-1) {
  nav {
    height: 50px;
    width: 50px;
    color: #fff;
    user-select: none;
    position: absolute;

    .title::before {
      content: "DHBW Richie";
    }

    .richie {
      position: absolute;
      left: 50px;
      top: 0px;
      height: 50px;
      line-height: 50px;
      width: 200px;
      font-weight: 600;
      z-index: 500;
      cursor: pointer;
    }

    .toggleButton {
      position: fixed;
      display: block;
      color: #fff;
      top: 0;
      left: 0;
      width: 50px;
      height: 35px;
      padding-top: 15px;
      font-size: 20px;
      text-align: center;
      z-index: 6010;
      cursor: pointer;
    }
    .navwrapper {
      display: block;
      position: fixed;
      transition: 0.5s ease;
      overflow: hidden;
      width: 100%;
      height: 0%;
      background: #000;
      z-index: 600;
      overflow-y: auto;
    }
    .hotlinks {
      width: 100%;
      a {
        font-size: 1em;
        &:hover {
          color: #fff;
        }
      }
    }
    .routes a:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 19;

  transition: 0.5s ease;

  height: 50px;
  padding: 0px 10px;
  background: var(--header);
  backdrop-filter: blur(7px);
  text-align: right;

  line-height: 50px;
  user-select: none;
  color: #ddd;

  * {
    outline: none;
    cursor: pointer;
    * {
      outline: none;
      cursor: pointer;
    }
  }

  .registerLogin {
    margin-right: 20px;

    * {
      display: inline-block;
      transition: 0.2s ease;
    }

    i {
      margin-left: 10px;
    }
    .signIn {
      line-height: 30px;
      height: 30px;
      margin: 10px 0px;
      padding: 0px 15px;
      border: 1px solid var(--input-border);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }

  .user {
    padding-right: 50px;
    padding-left: 10px;
    margin-right: -10px;
    display: inline-block;
    background-size: 0;

    &::after {
      position: absolute;
      content: " ";
      width: 30px;
      margin: 10px;
      height: 30px;
      border-radius: 15px;
      background: #08f;
      background-image: inherit;
      background-position: center;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: $phoneMax-1) {
  .landing h1 {
    word-wrap: break-word;
  }
}

.landing {
  text-align: center;
  background: var(--landing-bg);
  background-size: cover;
  background-position: center;
  padding: 100px 10px;
  min-height: 50px;
  margin: -50px 0px;
  user-select: none;
  transition: 2.5s ease;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  h1 {
    font-weight: 700;
    text-shadow: 1px 1px 10px #444;
  }
  h2 {
    font-weight: 650;
    color: #eee;

    &:before,
    &:after {
      content: "\23AF";
      padding: 0 10px;
    }
  }
}
@media only screen and (min-width: $phoneMax) {
  .paragraph {
    margin: 20px 60px;
    margin-bottom: 40px;
    padding: 10px 50px;
  }
}
@media only screen and (max-width: $phoneMax-1) {
  .paragraph {
    margin: 20px 10px;
    padding: 1px 20px;
    h1 {
      margin: 0px;
      margin-top: 20px;
    }
  }
}

.paragraph {
  background: var(--paragraph);
  border-radius: 5px;
  transition: 1s ease;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
  h3 {
    opacity: 0.8;
  }

  .media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 40px;
    margin: 30px 0px 10px 0px;
    i {
      display: inline-flex;
      font-size: 30px;
      opacity: 0.75;
      transition: 0.4s ease;
      cursor: pointer;
      &:not(:hover) {
        color: var(--font-color) !important;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: $phoneMax-1) {
  .iconButton {
    display: block;
    text-align: center;
    margin: 0;
  }
  .iconButtonRight {
    margin-top: 10px;
  }
}
@media only screen and (min-width: $phoneMax) {
  .iconButton {
    display: inline-block;
  }
  .iconButtonRight {
    position: absolute;
    right: 90px;
  }
  .iconButtonNextTo {
    margin-right: 25px;
  }
}

.iconButton {
  color: #08f !important;
  font-size: 16px;
  background: transparent;
  border: 1px solid #08f;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 5px 20px;
  padding-left: 10px;
  border-radius: 40px;
  margin-bottom: 15px;
  user-select: none;
  cursor: pointer;

  i {
    margin-right: 8px;
    font-weight: 400;
  }

  &:hover,
  &:focus {
    background: #08f;
    color: #fff !important;
    outline: none;
  }
  &:active {
    filter: brightness(115%);
  }
}

@media only screen and (max-width: $phoneMax-1) {
  .tablewrapper table td {
    height: 20px;
    padding: 10px;
    line-height: 20px;
  }
}
@media only screen and (min-width: $phoneMax) {
  .tablewrapper table td {
    height: 30px;
    padding: 10px;
    line-height: 30px;
  }
}

.tablewrapper {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;

    tr {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background: var(--background);
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      td {
        text-overflow: ellipsis;
        color: var(--font-color);
      }
    }
  }
}
.container {
  opacity: 1;
  max-width: 100%;
  transform: scale(1);
}

.selection {
  z-index: 1000019;
  text-align: left;
  .selected {
    &::after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: none;
    }
    i {
      padding-left: 5px;
      font-size: 0.8em;
      color: #08f;
    }
  }
  .items {
    user-select: none;
    display: none;
    position: absolute;
    padding-left: 160px;
    margin-top: -120px;
    font-size: 1.3em;

    .wrapper {
      overflow-y: auto;
      max-height: 200px;
    }

    .container {
      background: rgba(var(--popupBackground), 0.75);
      box-shadow: 2px 4px 10px var(--popupShadow);
      backdrop-filter: blur(7px);
      border-radius: 10px;
      overflow-x: hidden;
      white-space: nowrap;

      max-width: 0px;
      opacity: 0.7;
      transform: scale(0);

      &::before {
        content: "Gruppe wählen\00a0\00a0\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF\23AF";
        font-weight: 600;
        display: block;
        opacity: 0.9;
        font-size: 0.9em;
        padding: 10px;
        word-wrap: none;
      }
      .item {
        font-size: 0.9em;
        padding: 5px 0px;
        padding-left: 10px;
        margin: 1px 0px;
        display: list-item;
        list-style: none;
        transition: 0.2s ease;
        opacity: 0.7;
        background-image: linear-gradient(transparent, transparent);
        cursor: pointer;

        &:before {
          content: "\f054";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: none;
        }

        i {
          color: #08f;
          font-size: 0.8em;
          padding-right: 10px;
        }

        &:hover,
        &:focus {
          color: #fff;
          opacity: 1;
          transition: 0.2s ease;
          background-image: linear-gradient(to right, #08f, rgb(78, 167, 245));
          i {
            color: #fff;
          }
        }
      }
    }
  }
}

.selectionWrapper {
  display: block;
  position: absolute;

  font-size: 1.3em;

  background: var(--popupBackground);
  box-shadow: 2px 4px 10px var(--popupShadow);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  overflow-x: hidden;
  white-space: nowrap;
  user-select: none;

  transform: scale(0);
  transition: 0.2s ease;

  .selection {
    overflow-y: auto;
    max-height: 200px;
    min-width: 200px;

    &::before {
      content: attr(sTitle);
      font-weight: 600;
      display: block;
      opacity: 0.9;
      line-height: 35px;
      font-size: 0.9em;
      padding: 0px 10px;
      word-wrap: none;
    }

    .item {
      font-size: 0.9em;
      padding: 5px 10px;
      margin: 1px 0px;
      display: list-item;
      list-style: none;
      background: transparent;
      opacity: 0.7;
      cursor: pointer;

      &:before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: none;
      }

      i {
        color: var(--font-color);
        font-size: 0.8em;
        padding-right: 10px;
        opacity: 0.4;
      }

      &:hover,
      &:focus {
        color: #fff;
        opacity: 1;
        background: linear-gradient(to right, #08f, rgb(78, 167, 245));
        i {
          color: #fff;
        }
      }
    }
  }
}
